.about-holding {
    position: relative;

    padding: 10rem 0;

    min-height: 98.4rem;

    @media (max-width: 48em) {
        padding: 8rem 0 0 0;

        min-height: 142rem;
    }

    &__container {
        position: relative;
        z-index: 2;

        @media (max-width: 48em) {
            &.container {
                padding: 0;

                width: 115%;
            }
        }
    }

    &__tabs {
        display: flex;
        column-gap: 4rem;

        @media (max-width: 48em) {
            margin-right: 10rem;

            column-gap: 2.4rem;

            overflow-x: auto;
            -ms-overflow-style: none; /* Internet Explorer 10+ */
            scrollbar-width: none; /* Firefox */

            &::-webkit-scrollbar {
                display: none; /* Safari and Chrome */
            }
        }
    }

    &__tab {
        padding: 2rem 3.3rem;

        display: inline-flex;
        justify-content: center;
        flex: 1 1 auto;
        border-radius: 100rem;
        border: 1px solid $white;

        color: $white;
        white-space: nowrap;

        transition:
            background-color 0.3s ease,
            border 0.3s ease;

        &._is-active {
            border: 1px solid $pink;

            background-color: $pink;
        }

        @media (any-hover: hover) {
            &:hover {
                border: 1px solid $pink;

                background-color: $pink;
            }
        }

        @media (max-width: 48em) {
            padding: 2.4rem 4.8rem;

            border-radius: 200rem;

            &:first-child {
                margin-left: 4rem;
            }
        }
    }

    &__slide {
    }
}

.slide-about-holding {
    position: absolute;
    top: 0;
    left: 0;

    padding-top: 25rem;

    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    width: 100%;
    height: 100%;

    @media (max-width: 48em) {
        padding-top: 81.4rem;
        padding-left: 4rem;
        padding-bottom: 4rem;

        align-items: flex-end;
    }

    &__content {
        position: relative;
        z-index: 2;

        padding: 6rem 18rem 6rem 10rem;

        display: flex;
        flex-direction: column;
        row-gap: 4rem;
        max-width: 86.8rem;
        border-radius: 0 0 0 10rem;

        color: $white;

        background-color: rgba(231, 21, 139, 0.7);

        &_gold {
            background-color: rgba(219, 190, 114, 0.7);
        }

        @media (max-width: 48em) {
            padding: 6.4rem 4rem;

            row-gap: 4.8rem;
            max-width: none;
            border-radius: 8rem 0 0 0;
        }
    }

    &__title {
        font-weight: 500;
        font-size: 5rem;
        line-height: 6.1rem;

        @media (max-width: 48em) {
            font-weight: 600;
            font-size: 4.8rem;
            line-height: 110%;
        }
    }

    &__list {
        display: flex;
        flex-direction: column;
        row-gap: 2rem;

        @media (max-width: 48em) {
            row-gap: 3.2rem;
        }

        .list-item-def::before {
            transform: translateY(1.2rem);
        }
    }

    &__bg-wrap {
        position: absolute;
        top: 0;
        left: 0;

        width: 100%;
        height: 100%;

        &::after {
            content: '';

            position: absolute;
            top: 0;
            left: 0;

            width: 100%;
            height: 100%;

            background: linear-gradient(180deg, rgba(0, 0, 0, 0.3) 15.96%, rgba(0, 0, 0, 0) 50%);
        }
    }

    &__bg {
        height: 100%;

        object-fit: cover;
    }
}
