.activities {
    position: relative;

    &_holding {
        .activities {
            &__title {
                @media (max-width: 48em) {
                    max-width: none;
                }
            }
        }
    }

    &__bg-wrap {
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;

        width: 100%;
        height: 80%;

        &::after {
            content: '';

            position: absolute;
            top: 0;
            left: 0;

            width: 100%;
            height: 100%;

            background: linear-gradient(0deg, rgba(70, 70, 70, 0.2), rgba(70, 70, 70, 0.2));
        }

        @media (max-width: 48em) {
            height: 69%;
        }
    }

    &__bg {
        height: 100%;

        object-fit: cover;
    }

    &__container {
        padding-top: 15rem;

        display: flex;
        flex-direction: column;

        @media (max-width: 48em) {
            &:not(&_no-padding) {
                padding-top: 16rem;
            }
        }

        &_no-padding {
            padding-top: 0;
        }
    }

    &__title {
        margin-bottom: 12.5rem;

        align-self: center;
        max-width: 67rem;

        text-align: center;
        color: $white;

        @media (max-width: 48em) {
            margin-bottom: 8rem;

            max-width: 45rem;
        }
    }

    &__carousel {
        position: relative;

        &_md {
            .activities__nav-btn {
                display: none;
            }
            @media (max-width: 48em) {
                .activities__nav-btn {
                    display: inline-flex;

                    &.i-btn_arr-next {
                        transform: translate(20%, -50%);
                    }

                    &.i-btn_arr-prev {
                        transform: translate(-20%, -50%);
                    }
                }
            }
        }

        @media (max-width: 48em) {
            display: flex;
            flex-direction: column;
        }
    }

    &__swiper {
        width: 100%;
        min-width: 0;

        @media (max-width: 48em) {
            &.swiper {
                margin-bottom: 4.8rem;

                overflow: visible;
            }
        }
    }

    &__pagination {
        @media (min-width: 48em) {
            display: none;
        }
    }

    &__nav-btn {
        position: absolute;
        z-index: 2;
        top: 50%;

        &.i-btn_arr-prev {
            left: 0;

            transform: translate(-50%, -50%);
        }

        &.i-btn_arr-next {
            right: 0;

            transform: translate(50%, -50%);
        }

        @media (max-width: 48em) {
            display: none;
        }
    }
}

.slide-activities {
    position: relative;

    border: 0.7rem solid transparent;

    overflow: hidden;

    &_centered {
        .slide-activities {
            &__content {
                text-align: center;
            }

            &__inner {
                display: flex;
                width: 100%;
            }
            &__subtitle {
                @media (min-width: 48em) {
                    max-width: 43rem;
                }
            }
        }
    }

    &.swiper-slide {
        display: flex;
        min-height: 34.1rem;

        transition:
            border-radius 0.3s ease,
            border 0.3s ease;

        @media (max-width: 48em) {
            min-height: 73.2rem;
            border-radius: 6.4rem 0;

            &.slide-activities_sm {
                min-height: 46.4rem;

                .slide-activities__content {
                    padding: 4rem;

                    border-radius: 8rem 0 8rem 8rem;
                }
            }
        }
    }

    @media (min-width: 48em) {
        &.swiper-slide-active {
            border-radius: 6.4rem 0 6.4rem 6.4rem;
        }

        &.swiper-slide-next {
            border-radius: 0 6.4rem;
        }

        &.swiper-slide-next + .swiper-slide {
            border-radius: 0 6.4rem 6.4rem 6.4rem;
        }
    }

    &:not(.activities__carousel_md &) {
        @media (any-hover: hover) {
            &:hover {
                border: 0.7rem solid $pink;
            }
        }
    }

    &__content {
        position: relative;
        z-index: 2;

        padding: 3.6rem;

        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        min-height: 100%;
        width: 100%;

        color: $white;
        text-align: center;

        @media (max-width: 48em) {
            padding: 6.8rem;
        }
    }

    &__subtitle {
        @media (max-width: 48em) {
            font-size: 4rem;
        }
    }

    &__bg-wrap {
        position: absolute;
        top: 0;
        left: 0;

        width: 100%;
        height: 100%;

        &::after {
            content: '';

            position: absolute;
            top: 0;
            left: 0;

            width: 100%;
            height: 100%;

            background: linear-gradient(180deg, rgba(0, 0, 0, 0) 62.73%, rgba(0, 0, 0, 0.4) 81.91%);
        }
    }

    &__bg {
        height: 100%;

        object-fit: cover;
    }
}
