.advantages {
    position: relative;

    &__container {
        padding-top: 15rem;

        display: flex;
        flex-direction: column;
        align-items: center;

        text-align: center;

        @media (max-width: 48em) {
            &.container {
                padding: 16rem 4rem 0 4rem;
            }
        }
    }

    &__title {
        margin-bottom: 16rem;

        color: $white;

        @media (min-width: 48em) {
            margin-bottom: 12.5rem;

            max-width: 107.2rem;
        }
    }

    &__swiper {
        &.swiper {
            width: 100%;

            overflow: visible;

            @media (max-width: 48em) {
                margin-bottom: 4.8rem;
            }
        }
    }

    &__carousel {
        width: 100%;

        @media (max-width: 48em) {
            display: flex;
            flex-direction: column;
        }
    }

    &__pagination {
        @media (min-width: 48em) {
            display: none;
        }
    }

    &__swiper-wrapper {
        &.swiper-wrapper {
            @media (min-width: 48em) {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: 4rem;
            }
        }
    }

    &__card {
        padding: 7.4rem 4.1rem;

        &.swiper-slide {
            display: flex;
        }

        @media (max-width: 48em) {
            padding: 6.4rem 4rem;
        }
        @media (min-width: 48em) {
            .item-principles {
                &__title {
                    max-width: 62rem;
                }
            }
        }
    }

    &__bg-wrap {
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;

        width: 100%;
        height: 88%;

        &::after {
            content: '';

            position: absolute;
            top: 0;
            left: 0;

            width: 100%;
            height: 100%;

            background: linear-gradient(180deg, rgba(35, 35, 35, 0) 5.74%, rgba(35, 35, 35, 0.85) 100%);
        }

        @media (max-width: 48em) {
            height: 73%;
        }
    }

    &__bg {
        height: 100%;

        object-fit: cover;
    }
}
