.bg-info {
    position: relative;

    display: flex;
    min-height: 90rem;

    color: $white;

    @media (max-width: 48em) {
        min-height: 136rem;
    }

    &__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-height: 100%;

        text-align: center;

        @media (max-width: 48em) {
            justify-content: flex-start;
            align-items: flex-start;

            text-align: left;

            &.container {
                padding: 10rem 4rem 0 4rem;
            }
        }
    }

    &__title {
        margin-bottom: 4.8rem;

        &_centered {
            text-align: center;
        }

        @media (min-width: 48em) {
            margin-bottom: 5rem;

            max-width: 134.6rem;
        }
    }

    &__text {
        @media (min-width: 48em) {
            max-width: 134.1rem;
        }
    }

    &__buttons {
        display: flex;
        gap: 4rem;

        @media (max-width: 48em) {
            flex-direction: column;
            gap: 6.4rem;

            .btn {
                text-align: center;

                &__txt {
                    font-size: 2.9rem;
                }
            }
        }
    }

    &__bg-wrap {
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;

        width: 100%;
        height: 100%;

        &::after {
            content: '';

            position: absolute;
            top: 0;
            left: 0;

            width: 100%;
            height: 100%;

            background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
        }
    }

    &__bg {
        height: 100%;

        object-fit: cover;
    }
}
