.breed-features {
    &__container {
        display: flex;
        flex-direction: column;
    }

    &__title {
        margin-bottom: 6.4rem;

        @media (min-width: 48em) {
            margin-bottom: 5rem;

            max-width: 140rem;
        }
    }

    &__body {
        display: flex;
        gap: 8.1rem;

        @media (max-width: 48em) {
            flex-direction: column;
            gap: 6.4rem;
        }
    }

    &__list {
        display: flex;
        flex-direction: column;
        row-gap: 5rem;

        @media (max-width: 48em) {
            row-gap: 4.8rem;
        }
    }

    &__image-wrap {
        height: 62rem;

        @media (min-width: 48em) {
            margin-left: -14rem;

            flex: 0 0 99rem;
            width: 99rem;
            height: 76.6rem;

            transform: translateX(14rem);
        }
    }

    &__image {
        height: 100%;
        border-radius: 10rem 0 0 0;

        object-fit: cover;

        @media (max-width: 48em) {
            border-radius: 0 0 0 8.8rem;
        }
    }
}
