.breed {
    &__container {
        display: flex;
        flex-direction: column;
        row-gap: 6.4rem;

        @media (min-width: 48em) {
            align-items: center;
            row-gap: 5rem;

            text-align: center;
        }
    }

    &__images {
        display: flex;
        justify-content: space-between;
        column-gap: 4rem;
        width: 100%;
    }

    &__image-wrap {
        height: 58rem;
        border-radius: 0 0 10rem 0;

        overflow: hidden;

        @media (max-width: 48em) {
            height: 62rem;
            border-radius: 0 0 8.8rem 0;
        }
    }

    &__image {
        height: 100%;

        object-fit: cover;
    }
}
