.contacts-info {
    position: relative;

    display: flex;
    flex-direction: column-reverse;

    @media (min-width: 48em) {
        flex-direction: row;

        min-height: 90rem;
    }

    &__container {
        @media (max-width: 48em) {
            &.container {
                margin-bottom: 8rem;

                padding: 0;
            }
        }
        @media (min-width: 48em) {
            position: absolute;
            z-index: 2;
            top: 0;
            left: 50%;

            padding: 16.3rem 0;

            height: 100%;

            transform: translateX(-50%);
        }
    }

    &__map {
        min-height: 100%;
        width: 100%;

        @media (max-width: 48em) {
            height: 62.2rem;
        }
    }

    &__content {
        padding: 10rem;

        display: flex;
        flex-direction: column;
        max-width: 81.9rem;
        border-radius: 0 10rem;

        background: linear-gradient(263.51deg, #b1934e -1.67%, #f2d790 35.23%, #b1934e 98.62%);

        &_white {
            background: $white;

            color: $black;
        }

        @media (max-width: 48em) {
            padding: 8rem 8rem 8rem 4rem;

            max-width: none;
            border-radius: 0 6rem;
        }
    }

    &__title {
        margin-bottom: 5rem;

        @media (max-width: 48em) {
            margin-bottom: 4.8rem;
        }
    }

    &__list {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        row-gap: 3.2rem;

        @media (max-width: 48em) {
            row-gap: 4.8rem;
        }
    }
}

.list-i-item {
    display: inline-flex;
    column-gap: 2.4rem;

    @media (max-width: 48em) {
        column-gap: 3.2rem;
    }

    &__text-content {
        display: flex;
        column-gap: 1rem;
    }

    &__icon {
        svg {
            width: 4rem;
            height: 4rem;

            @media (max-width: 48em) {
                width: 4.8rem;
                height: 4.8rem;
            }
        }
    }

    &__text {
        @media (max-width: 48em) {
            display: flex;
            flex-direction: column;
        }
    }
}

.marker {
    svg {
        width: 6.7rem;

        @media (max-width: 48em) {
            width: 8rem;
        }
    }
}
