.cycle {
    position: relative;

    min-height: 91.8rem;

    color: $white;

    @media (max-width: 48em) {
        min-height: 136rem;
    }

    &__container {
        position: relative;
        z-index: 2;

        &.container {
            padding: 16rem 4rem 0 4rem;
        }

        display: flex;
        flex-direction: column;

        @media (min-width: 48em) {
            align-items: center;

            &.container {
                padding-top: 15rem;
            }
        }
    }

    &__title {
        margin-bottom: 10rem;

        @media (max-width: 48em) {
            margin-bottom: 6.4rem;
        }
    }

    &__list {
        display: flex;
        gap: 8rem;

        .list-item-blank {
            font-size: 4rem;

            &::before {
                transform: translateY(2rem);
            }
        }

        @media (max-width: 48em) {
            flex-direction: column;
            gap: 3.2rem;

            .list-item-blank {
                font-size: 3.2rem;

                &::before {
                    transform: translateY(1.2rem);
                }
            }
        }
    }

    &__bg-wrap {
        position: absolute;
        top: 0;
        left: 0;

        width: 100%;
        height: 100%;

        &::after {
            content: '';

            position: absolute;
            top: 0;
            left: 0;

            width: 100%;
            height: 100%;

            background: linear-gradient(180deg, rgba(33, 31, 124, 0.2) 20.7%, rgba(34, 34, 73, 0) 51.63%);
        }
    }

    &__bg {
        height: 100%;

        object-fit: cover;
    }
}

.list-item-blank {
    display: flex;
    column-gap: 0.8rem;

    &::before {
        content: '';

        width: 1.2rem;
        height: 1.2rem;
        border-radius: 50%;

        background-color: $black;

        transform: translateY(1.3rem);
    }

    @media (max-width: 48em) {
        column-gap: 1.6rem;

        &::before {
            width: 1.6rem;
            height: 1.6rem;

            transform: translateY(1.7rem);
        }
    }

    &_white {
        color: $white;

        &::before {
            background-color: $white;
        }
    }
}
