.exported-products {
    position: relative;

    &__container {
        padding-top: 15rem;

        display: flex;
        flex-direction: column;
        align-items: center;
        min-height: 80rem;

        text-align: center;

        @media (max-width: 48em) {
            min-height: auto;

            &.container {
                padding: 16rem 4rem 0 4rem;
            }
        }
    }

    &__title {
        margin-bottom: 3.2rem;

        color: $white;

        @media (max-width: 48em) {
            margin-bottom: 4.8rem;
        }
    }

    &__text {
        margin-bottom: 6.4rem;

        color: $white;

        @media (min-width: 48em) {
            margin-bottom: 3.2rem;

            max-width: 80.8rem;
        }
    }

    &__btn {
        margin-bottom: 19.4rem;

        @media (max-width: 48em) {
            margin-bottom: 8rem;
        }
    }

    &__carousel {
        position: relative;

        width: 100%;
    }

    &__swiper {
        @media (max-width: 48em) {
            &.swiper {
                overflow: visible;
            }
        }
    }

    &__nav-btn {
        position: absolute;
        z-index: 2;
        top: 50%;

        &.i-btn_arr-prev {
            left: 0;

            transform: translate(-50%, -50%);

            @media (max-width: 48em) {
                transform: translate(-20%, -50%);
            }
        }

        &.i-btn_arr-next {
            right: 0;

            transform: translate(50%, -50%);

            @media (max-width: 48em) {
                transform: translate(20%, -50%);
            }
        }
    }

    &__bg-wrap {
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;

        width: 100%;
        height: 85%;

        &::after {
            content: '';

            position: absolute;
            top: 0;
            left: 0;

            width: 100%;
            height: 100%;

            background: linear-gradient(0deg, rgba(70, 70, 70, 0.4), rgba(70, 70, 70, 0.4));
        }
    }

    &__bg {
        height: 100%;

        object-fit: cover;
    }
}

.slide-exported-products {
    padding: 5.6rem;

    display: flex;
    flex-direction: column;
    row-gap: 1.6rem;
    box-shadow: 0.6rem 0.6rem 7rem rgba(189, 171, 125, 0.5);
    border-radius: 6rem 6rem 0 0;
    border: 0.6rem solid $pink;

    background-color: #ffffff;

    &.swiper-slide {
        display: flex;
    }

    @media (max-width: 48em) {
        padding: 11.2rem 13rem;

        row-gap: 3.2rem;
        border-radius: 8.8rem 8.8rem 0 0;
    }

    &__text {
        font-size: 3.2rem;
    }

    &__title {
        font-size: 4.8rem;
        font-weight: 600;
    }

    &__icon {
        svg {
            width: 5rem;
            height: 5rem;

            @media (max-width: 48em) {
                width: 6.4rem;
                height: 6.4rem;
            }
        }
    }
}
