.export-info {
    &__container {
        display: flex;
        flex-direction: column;
    }

    &__head {
        margin-bottom: 15rem;

        @media (max-width: 48em) {
            margin-bottom: 16rem;
        }
    }

    &__body {
        display: flex;
        gap: 5.7rem;

        @media (max-width: 48em) {
            flex-direction: column;
            gap: 6.4rem;
        }
    }

    &__image-wrap {
        width: 100vw;
        height: 75.2rem;

        transform: translateX(-4rem);

        @media (min-width: 48em) {
            margin-right: -20rem;

            flex: 0 0 102rem;
            width: 102rem;
            height: 72.4rem;

            transform: translateX(-20rem);
        }
    }

    &__image {
        height: 100%;
        border-radius: 0 0 10rem 0;

        object-fit: cover;

        @media (max-width: 48em) {
            border-radius: 0 0 8rem 0;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;

        @media (min-width: 48em) {
            padding-top: 5rem;
        }
    }

    &__numbers-list {
        margin-bottom: 13.8rem;

        display: flex;
        column-gap: 7.2rem;

        @media (max-width: 48em) {
            margin-bottom: 6.4rem;

            flex-direction: column;
            row-gap: 6.4rem;
        }
    }

    &__text-wrap {
        display: flex;
        flex-direction: column;
        row-gap: 5rem;

        @media (max-width: 48em) {
            row-gap: 6.4rem;
        }
    }

    &__text {
        font-weight: 700;

        @media (max-width: 48em) {
            font-size: 4rem;
            line-height: 4.4rem;
        }
    }
}

.head-export-info {
    display: flex;
    flex-direction: column;
    row-gap: 4.8rem;

    @media (min-width: 48em) {
        align-items: center;
        row-gap: 3.2rem;

        text-align: center;
    }

    &__title {
        @media (max-width: 48em) {
            span {
                display: block;
            }
        }
    }

    &__text-wrap {
        display: flex;
        flex-direction: column;
        row-gap: 4.8rem;

        @media (min-width: 48em) {
            row-gap: 1rem;
            max-width: 91.5rem;
        }
    }
}

.numbers-export-info {
    display: flex;
    flex-direction: column;
    row-gap: 3.2rem;

    &__title {
        white-space: nowrap;
    }

    &__text {
        max-width: 31.7rem;

        @media (max-width: 48em) {
            max-width: 45.7rem;
        }
    }
}
