.managers_main.managers::after {
    height: 92%;

    background: linear-gradient(263.51deg, #b1934e -1.67%, #f2d790 35.23%, #b1934e 98.62%);

    @media (max-width: 48em) {
        height: 100%;
    }
}

.managers {
    position: relative;

    &_main {
        .managers {
            &__container {
                padding-top: 15rem;

                @media (max-width: 48em) {
                    &.container {
                        padding: 16rem 4rem;
                    }
                }
            }
            &__image {
                border-radius: 10rem 0;

                @media (max-width: 48em) {
                    border-radius: 8rem 0;
                }
            }
            &__content {
                padding-top: 0;
                padding-bottom: 0;

                @media (min-width: 48em) {
                    align-self: center;
                }
            }
            &__subtitle {
                @media (min-width: 48em) {
                    max-width: 62rem;
                }
            }
            &__title {
                @media (min-width: 48em) {
                    max-width: 83rem;
                }
            }
            &__row_reversed {
                flex-direction: row;

                @media (max-width: 48em) {
                    flex-direction: column;
                }
            }
        }
    }

    &::after {
        content: '';

        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;

        width: 100%;
        height: 63%;

        background: linear-gradient(
            236.5deg,
            #c10b73 -4.18%,
            #b6136d 13.92%,
            #f55bb2 30.54%,
            #b6136d 49.38%,
            #f55bb2 66.56%,
            #b6136d 83.74%,
            #c10b73 106.46%
        );

        @media (max-width: 48em) {
            height: 72%;
        }
    }

    &__container {
        display: flex;
        flex-direction: column;

        @media (max-width: 48em) {
            row-gap: 16rem;

            &.container {
                padding: 16rem 4rem 0 4rem;
            }
        }
    }

    &__row {
        display: flex;
        flex-direction: column;
        gap: 8rem;

        @media (min-width: 48em) {
            flex-direction: row;
            justify-content: space-between;
            gap: 5.8rem;

            &:not(.managers_main &) {
                &:first-child {
                    margin-bottom: -9rem;

                    .managers {
                        &__content {
                            padding-top: 19.9rem;
                        }
                        &__image-wrap {
                            margin-left: -21rem;

                            transform: translateX(14rem);
                        }
                        &__image {
                            border-radius: 10rem 0 0 0;
                        }
                    }
                }
            }

            &_reversed {
                flex-direction: row-reverse;

                .managers {
                    &__content {
                        &:not(.managers_main &) {
                            padding-bottom: 3.5rem;

                            align-self: flex-end;
                        }
                    }
                    &__image-wrap {
                        &:not(.managers_main &) {
                            margin-right: -14rem;

                            transform: translateX(-14rem);
                        }
                    }
                    &__image {
                        &:not(.managers_main &) {
                            border-radius: 0 0 10rem 0;
                        }
                    }
                    &__list {
                        margin-right: 44rem;

                        max-width: 50rem;
                    }
                }
            }
        }
        @media (max-width: 48em) {
            &:first-child {
                .managers {
                    &__image {
                        border-radius: 8rem 0;
                    }
                    &__image-wrap {
                        height: 58.8rem;
                    }
                }
            }
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        row-gap: 3.2rem;

        @media (max-width: 48em) {
            row-gap: 4.8rem;
        }
    }

    &__title {
        @media (max-width: 48em) {
            font-size: 4.8rem;
        }
    }

    &__subtitle {
        @media (max-width: 48em) {
            font-size: 3.2rem;
        }
    }

    &__list {
        display: flex;
        flex-direction: column;
        row-gap: 3.2rem;

        .list-i-item {
            align-items: center;
        }

        @media (max-width: 48em) {
            .list-i-item__text-content span {
                display: none;
            }
        }
    }

    &__image-wrap {
        height: 70.8rem;

        @media (min-width: 48em) {
            flex: 0 0 80.3rem;
            width: 80.3rem;
            height: 72.4rem;
        }
        @media (max-width: 48em) {
            order: -1;
        }
    }

    &__image {
        height: 100%;

        object-fit: cover;

        @media (max-width: 48em) {
            border-radius: 0 0 8rem 0;
        }
    }
}
