.manager {
    &_reversed {
        .manager {
            &__container {
                @media (min-width: 48em) {
                    flex-direction: row-reverse;
                }
            }
            &__content {
                @media (min-width: 48em) {
                    border-radius: 10rem 0 0 0;
                }
            }
            &__title {
                @media (min-width: 48em) {
                    max-width: 61rem;
                }
            }
            &__image {
                @media (min-width: 48em) {
                    border-radius: 0 10rem 0 10rem;
                }
            }
        }
    }

    &__list {
        margin-top: 2.4rem;

        @media (max-width: 48em) {
            margin-top: 4.8rem;
        }
    }

    &__container {
        display: flex;
        flex-direction: column;

        @media (min-width: 48em) {
            flex-direction: row;
            align-items: flex-start;
        }
    }

    &__text-wrap {
        display: flex;
        flex-direction: column;
        row-gap: 2.4rem;

        @media (max-width: 48em) {
            row-gap: 4.8rem;

            .manager__text {
                font-size: 3.2rem;
            }
        }

        .manager__subtitle {
            margin-bottom: 0;

            @media (max-width: 48em) {
                font-size: 4rem;
            }
        }
    }

    &__image-wrap {
        height: 67.7rem;

        @media (min-width: 48em) {
            flex: 0 0 76rem;
            width: 76rem;
            height: 76.8rem;
        }
    }

    &__image {
        height: 100%;
        border-radius: 10rem 0;

        object-fit: cover;

        @media (max-width: 48em) {
            border-radius: 8.8rem 0;
        }
    }

    &__content {
        padding: 10rem;

        display: flex;
        flex-direction: column;
        border-radius: 0 10rem 0 0;

        color: $white;

        background: linear-gradient(
            236.5deg,
            #c10b73 -4.18%,
            #b6136d 13.92%,
            #f55bb2 30.54%,
            #b6136d 49.38%,
            #f55bb2 66.56%,
            #b6136d 83.74%,
            #c10b73 106.46%
        );

        @media (max-width: 48em) {
            padding: 4rem;

            border-radius: 0 8.8rem 0 0;
        }

        @media (min-width: 48em) {
            min-height: 52rem;
        }
    }

    &__title {
        margin-bottom: 2.4rem;

        @media (min-width: 48em) {
            &.h_h2 {
                margin-bottom: 5rem;
            }
        }

        @media (max-width: 48em) {
            margin-bottom: 4.8rem;

            font-size: 4.8rem;
        }
    }

    &__subtitle {
        margin-bottom: 5rem;

        @media (max-width: 48em) {
            margin-bottom: 4.8rem;

            font-size: 3.2rem;
        }
    }

    &__list {
        display: flex;
        flex-direction: column;
        row-gap: 3.2rem;
        width: 100%;

        @media (max-width: 48em) {
            .list-i-item__text-content span {
                display: none;
            }
        }
        @media (min-width: 48em) {
            row-gap: 2.4rem;

            .list-i-item {
                align-items: center;

                &__text {
                    width: 100%;
                }

                &__inner {
                    justify-content: space-between;
                }
            }
        }
    }
}
