.partners {
    &__container {
        display: flex;
        flex-direction: column;

        @media (min-width: 48em) {
            align-items: center;

            text-align: center;
        }
    }

    &__title {
        margin-bottom: 5rem;

        @media (max-width: 48em) {
            margin-bottom: 6.4rem;
        }
    }

    &__text {
        margin-bottom: 10rem;

        @media (min-width: 48em) {
            display: flex;
            flex-direction: column;
            row-gap: 2rem;
        }
    }

    &__group {
    }

    &__carousel {
        position: relative;

        @media (min-width: 48em) {
            padding: 0 12rem;
        }
    }

    &__nav-btn {
        position: absolute;
        z-index: 2;
        top: 50%;

        &.i-btn_arr-prev {
            left: 0;

            transform: translate(0, -50%);
        }

        &.i-btn_arr-next {
            right: 0;

            transform: translate(0, -50%);
        }

        @media (max-width: 48em) {
            display: none;
        }
    }

    &__pagination {
        @media (min-width: 48em) {
            display: none;
        }
    }

    &__swiper,
    &__carousel {
        width: 100%;
    }

    &__swiper {
        @media (max-width: 48em) {
            &.swiper {
                margin-bottom: 4rem;

                overflow: visible;
            }
        }
    }
}

.item-partners {
    &.swiper-slide {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 4rem;

        text-align: center;
    }

    &__num {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        width: 10rem;
        height: 10rem;

        background: linear-gradient(
            236.5deg,
            #c10b73 -4.18%,
            #b6136d 13.92%,
            #f55bb2 30.54%,
            #b6136d 49.38%,
            #f55bb2 66.56%,
            #b6136d 83.74%,
            #c10b73 106.46%
        );

        color: $white;

        @media (max-width: 48em) {
            width: 12rem;
            height: 12rem;
        }
    }

    &__text {
        max-width: 36rem;

        @media (max-width: 48em) {
            max-width: 48rem;
        }
    }
}
