.production-main {
    &__head {
        margin-bottom: 15rem;

        .container {
            display: flex;
            flex-direction: column;

            @media (min-width: 48em) {
                align-items: center;

                text-align: center;
            }
        }

        @media (max-width: 48em) {
            margin-bottom: 16rem;
        }
    }

    &__title {
        margin-bottom: 3.2rem;

        @media (max-width: 48em) {
            margin-bottom: 4.8rem;
        }
    }

    &__subtitle {
        margin-bottom: 6.4rem;

        color: $pink;

        @media (min-width: 48em) {
            margin-bottom: 5rem;

            max-width: 80.8rem;
        }
    }

    &__tabs {
        display: flex;

        @media (max-width: 48em) {
            flex-direction: column;
        }

        .tab__inner {
            padding: 4rem;

            font-weight: 500;
            font-size: 4rem;
            line-height: 110%;

            @media (min-width: 48em) {
                padding: 3.5rem 4rem;

                width: 52rem;
                height: 10rem;

                font-weight: 700;
                font-size: 3rem;
                line-height: 3.6rem;
            }
        }

        .tab:first-child .tab__inner,
        .tab:first-child {
            border-radius: 5rem 0 0 0;

            @media (max-width: 48em) {
                border-radius: 8rem 0 0 0;
            }
        }
        .tab:not(:last-child, :first-child) {
            @media (min-width: 48em) {
                padding: 0.3rem 0;
            }
        }
        .tab:not(:last-child, :first-child),
        .tab:not(:last-child, :first-child) .tab__inner {
            border-radius: 0;
        }

        .tab:last-child,
        .tab:last-child .tab__inner {
            @media (max-width: 48em) {
                border-radius: 0 0 8rem 0;
            }
        }
    }

    &__products {
        display: flex;
        flex-direction: column;
        row-gap: 15rem;

        @media (max-width: 48em) {
            row-gap: 16rem;
        }
    }

    &__group {
        display: flex;
        flex-direction: column;
        row-gap: 10rem;

        @media (max-width: 48em) {
            row-gap: 6.4rem;
        }
    }
}

.card-production-main {
    display: flex;
    gap: 4.5rem;

    &_has-list {
        .card-production-main {
            &__title {
                margin-bottom: 3.2rem;

                @media (max-width: 48em) {
                    margin-bottom: 4rem;
                }
            }
        }
    }

    @media (max-width: 48em) {
        padding: 0 4rem;

        flex-direction: column;
        gap: 4.8rem;
    }

    @media (min-width: 48em) {
        &_reversed {
            flex-direction: row-reverse;

            .card-production-main {
                &__image-wrap {
                    border-radius: 10rem 0 0 10rem;
                }
            }
        }
    }

    &__list {
        margin-bottom: auto;

        display: flex;
        flex-direction: column;
        row-gap: 1.6rem;

        .list-item-def::before {
            transform: translateY(1.2rem);
        }

        @media (max-width: 48em) {
            margin-bottom: 4.8rem;

            row-gap: 3.2rem;
        }
    }

    &__image-wrap {
        padding-top: 8rem;

        display: flex;
        justify-content: center;
        box-shadow: 1.2rem 1.2rem 14rem rgba(98, 98, 98, 0.2);
        border-radius: 12rem 12rem 0 0;

        background-color: $white;

        &_fw {
            padding: 0;

            overflow: hidden;

            @media (max-width: 48em) {
                height: 64.8rem;
            }

            .card-production-main__image {
                height: 100%;
                width: 100%;

                object-fit: cover;
            }
        }

        &_gold {
            background-color: $gold;
        }

        @media (min-width: 48em) {
            padding-top: 0;

            flex: 0 0 107.3rem;
            width: 107.3rem;

            box-shadow: 0.6rem 0.6rem 7rem rgba(98, 98, 98, 0.2);
            border-radius: 0 10rem 10rem 0;
        }
    }

    &__image {
        width: 71.2rem;
    }

    &__content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        @media (min-width: 48em) {
            max-width: 62.3rem;
            min-height: 100%;
            flex: 1 1 auto;
        }
    }

    &__title {
        margin-bottom: 6.4rem;

        font-weight: 500;
        font-size: 4rem;
        line-height: 5.1rem;

        @media (max-width: 48em) {
            margin-bottom: 4rem;

            font-weight: 500;
            line-height: 110%;
        }
    }

    &__text-wrap {
        margin-bottom: auto;

        display: flex;
        flex-direction: column;
        row-gap: 2rem;

        @media (max-width: 48em) {
            margin-bottom: 4.8rem;

            row-gap: 4rem;
        }
    }

    &__text {
        font-weight: 500;
        font-size: 2.4rem;
        line-height: 110%;

        @media (max-width: 48em) {
            font-size: 3.2rem;
        }
    }

    &__btn {
        min-width: 34.5rem;

        @media (max-width: 48em) {
            width: 100%;
            min-width: auto;
        }
    }
}
