.request-form {
    background: linear-gradient(
        236.5deg,
        #c10b73 -4.18%,
        #b6136d 13.92%,
        #f55bb2 30.54%,
        #b6136d 49.38%,
        #f55bb2 66.56%,
        #b6136d 83.74%,
        #c10b73 106.46%
    );

    &__container {
        padding: 15rem 0;

        display: flex;
        flex-direction: column;
        row-gap: 5rem;

        color: $white;

        @media (max-width: 48em) {
            padding: 8rem 4rem;

            row-gap: 9.6rem;
        }
    }

    &__head,
    .form-request-form__fields {
        display: grid;
        width: 100%;

        @media (min-width: 48em) {
            grid-template-columns: repeat(2, 1fr);
            column-gap: 4rem;
            row-gap: 3.2rem;
        }
    }

    &__head {
        @media (min-width: 48em) {
            align-items: center;
        }
    }

    &__title {
        @media (max-width: 48em) {
            margin-bottom: 6.4rem;

            font-weight: 600;
            font-size: 4.8rem;
            line-height: 110%;
        }
    }

    &__text {
        font-weight: 500;
        font-size: 4rem;
        line-height: 110%;
    }

    &__form {
        @media (min-width: 48em) {
            .input_textarea {
                grid-row: span 2;
                height: 100%;
            }
        }
    }
}

.form-request-form {
    display: flex;
    flex-direction: column;
    row-gap: 5rem;

    @media (max-width: 48em) {
        row-gap: 9.6rem;
    }

    &__fields {
        @media (max-width: 48em) {
            row-gap: 6.4rem;

            .input_textarea {
                grid-row: 3/4;

                height: 40.2rem;
            }
        }
    }

    &__text {
        margin-bottom: 9.6rem;

        font-weight: 500;
        font-size: 3.2rem;
        line-height: 110%;

        @media (min-width: 48em) {
            margin-bottom: 0;

            max-width: 56.7rem;

            font-size: 1.8rem;
            line-height: 2.1rem;
        }
    }

    &__footer {
        display: flex;
        flex-direction: column;

        @media (min-width: 48em) {
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }
    }
}
