.scheme {
    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;

        text-align: center;
    }

    &__title {
        margin-bottom: 3.2rem;
    }

    &__subtitle {
        margin-bottom: 5rem;
    }

    &__image-wrap {
        display: flex;
        justify-content: center;
        width: 100%;

        overflow: hidden;

        cursor: pointer;
    }

    &__image {
        width: auto;
        height: 98.6rem;
    }
}
