.footer {
    padding: 6rem 0;

    border-radius: 10rem 10rem 0 0;

    background: url('./assets/images/bg-svg/liner-gold-2.svg') center / cover no-repeat;

    @media (max-width: 48em) {
        padding: 6.4rem 0 8rem 0;

        border-radius: 6rem 6rem 0 0;
    }

    &__container {
        display: flex;
        flex-direction: column;

        @media (min-width: 48em) {
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
        }
    }

    &__logo-wrap {
        width: 31rem;

        @media (max-width: 48em) {
            margin-bottom: 8rem;

            width: 20.8rem;
        }
    }

    &__nav {
        display: flex;
        gap: 3rem;

        @media (max-width: 48em) {
            flex-direction: column;
            align-items: flex-start;
            gap: 6.4rem;
        }
    }

    &__nav-link {
        @media (min-width: 48em) {
            &.txt30 {
                font-size: 2.5rem;
            }
        }
    }
}
