.btn {
    position: relative;

    padding: 2.4rem 4rem;

    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 7.3rem;
    border-radius: 0 5rem 0 0;

    overflow: hidden;

    &::before {
        content: '';

        position: absolute;
        top: 0;
        left: 0;

        width: 100%;
        height: 100%;

        background: url('./assets/images/bg-svg/liner-pink.svg') center / cover no-repeat;

        opacity: 0;
        transition: opacity 0.3s ease-in-out;
    }

    @media (max-width: 48em) {
        padding: 4.8rem 8rem;

        height: 12rem;
        border-radius: 0 8rem 0 0;
    }

    @media (any-hover: hover) {
        &:hover {
            .btn__txt {
                color: $white;
            }
            &::before {
                opacity: 1;
            }
        }
    }

    &_fw {
        @media (max-width: 48em) {
            width: 100%;
        }
    }

    &_pink {
        background-color: $pink;
    }

    &_white {
        background-color: $white;

        .btn__txt {
            color: $pink;
        }
    }

    &_gold {
        background-color: $gold;

        &::before {
            background: url('./assets/images/bg-svg/liner-gold-2.svg') center / cover no-repeat;
        }

        .btn__txt {
            color: $black;
        }

        @media (any-hover: hover) {
            &:hover {
                .btn__txt {
                    color: $black;
                }
            }
        }
    }

    &__txt {
        position: relative;
        z-index: 2;

        font-size: 2rem;
        line-height: 2.5rem;
        text-transform: uppercase;
        color: #ffffff;

        transition: color 0.3s ease;

        @media (max-width: 48em) {
            font-size: 3.2rem;
            line-height: 4rem;
        }
    }
}

.i-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    width: 9rem;
    height: 9rem;
    border-radius: 50%;

    svg {
        width: 3rem;
        height: 3rem;
    }

    &_arr-next,
    &_arr-prev {
        svg {
            transition: transform 0.5s ease;
        }

        @media (any-hover: hover) {
            &:hover {
                &.i-btn_arr-prev {
                    svg {
                        transform: translateX(-1rem);
                    }
                }
                &.i-btn_arr-next {
                    svg {
                        transform: translateX(1rem);
                    }
                }
            }
        }
    }

    &:not(&_bg) {
        background: url('./assets/images/bg-svg/liner-gold.svg') center / cover no-repeat;
    }

    &_bg {
        background-color: $pink;

        svg {
            width: 3.2rem;
            height: 3.2rem;
        }
    }

    @media (max-width: 48em) {
        width: 11rem;
        height: 11rem;
    }
}
