input[type='text'],
input[type='email'],
input[type='tel'],
textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
textarea:focus,
input:focus {
    outline: none;
}

.input.input_white._has-error .input__field::placeholder,
.input.input_white._has-error::after,
.input_white .input__field,
.input_white .input__field::placeholder {
    color: $white;
}

.input {
    position: relative;

    padding: 2px;

    display: flex;
    height: 9.7rem;

    background: url('./assets/images/bg-svg/input-shape.svg') center / 100% 100% no-repeat;
    overflow: hidden;

    transition: border-bottom 0.5s ease;

    &_textarea {
        textarea {
            resize: none;
        }

        @media (min-width: 48em) {
            background: url('./assets/images/bg-svg/textarea-shape.svg') center / 100% 100% no-repeat;
        }
    }

    &_pink {
        background: url('./assets/images/bg-svg/input-shape-pink.svg') center / 100% 100% no-repeat;
    }

    @media (max-width: 48em) {
        height: 10rem;
    }

    &__field,
    &__field::placeholder {
        font-weight: 500;
        font-size: 3rem;
        line-height: 110%;

        @media (max-width: 48em) {
            font-size: 3.2rem;
        }
    }

    &__field {
        padding: 3.2rem 4rem;

        flex: 1 1 auto;

        &::placeholder {
            color: #6f7070;
        }

        @media (max-width: 48em) {
            padding: 2.8rem 4.8rem;
        }
    }

    &._has-error {
        .input__field,
        .input__field::placeholder,
        &::after {
            color: $pink;
        }

        &::after {
            content: attr(data-hint);

            position: absolute;
            top: 50%;
            right: 4.8rem;

            font-weight: 500;
            font-size: 2.4rem;

            transform: translateY(-50%);

            @media (min-width: 48em) {
                right: 4rem;

                font-size: 1.6rem;
                line-height: 2rem;
            }
        }
    }
}
