.swiper-bullets {
    display: flex;
    justify-content: center;

    @media (max-width: 48em) {
        column-gap: 1.6rem;
    }

    .swiper-pagination-bullet {
        display: inline-flex;
        border-radius: 50%;

        background-color: #d9d9d9;

        transition: background-color 0.3s ease;

        .bg_gold & {
            background-color: $white;
        }

        &.swiper-pagination-bullet-active {
            background-color: $gold;
        }

        @media (max-width: 48em) {
            flex: 0 0 2.4rem;
            width: 2.4rem;
            height: 2.4rem;
        }
    }
}
