.h {
    font-weight: 500;
    line-height: 110%;

    @media (max-width: 48em) {
        font-size: 6.8rem;
    }

    &_h1 {
        font-size: 10rem;
    }

    &_h2 {
        font-size: 7.4rem;
    }

    &_h3 {
        font-size: 4.8rem;

        @media (min-width: 48em) {
            font-size: 5rem;
            line-height: 6.3rem;
        }
    }

    &_h4 {
        font-size: 4rem;
        line-height: 5.1rem;

        @media (max-width: 48em) {
            font-size: 3.6rem;
            line-height: 120%;
        }
    }
}

.num-txt {
    font-weight: 700;
    font-size: 10rem;
    line-height: 110%;

    @media (max-width: 48em) {
        font-weight: 600;
        font-size: 8rem;
    }
}

.txt30 {
    line-height: 110%;

    @media (min-width: 48em) {
        font-size: 3rem;
    }

    &_md {
        font-weight: 500;
    }
}

.txt20 {
    @media (min-width: 48em) {
        font-size: 2rem;
    }

    &_md {
        font-weight: 500;
    }
}
