[data-videojs],
[data-videojs] video {
    width: 100%;
    height: 100%;

    object-fit: cover;
}

[data-videojs] {
    position: relative;
    z-index: 2;

    &.vjs-playing {
        .vjs-big-play-button {
            transform: translate(-50%, -50%) scale(0);
        }
    }

    .vjs-control-text,
    .vjs-icon-placeholder,
    .vjs-control-bar,
    .vjs-poster,
    .vjs-error-display,
    .vjs-title-bar,
    .vjs-text-track-display,
    .vjs-loading-spinner,
    .vjs-modal-dialog,
    .vjs-poster {
        display: none;
    }

    .vjs-big-play-button {
        position: absolute;
        z-index: 2;
        top: 50%;
        left: 50%;

        width: 15rem;
        height: 15rem;
        border-radius: 50%;

        transform: translate(-50%, -50%);

        transition: transform 0.3s ease;

        @media (max-width: 48em) {
            width: 12rem;
            height: 12rem;
        }

        &::after {
            content: '';

            display: inline-block;
            width: 100%;
            height: 100%;

            background: url('./assets/images/icons/play.svg') center / cover no-repeat;
        }
    }
}
