body::after {
    content: '';
    position: fixed;
    z-index: 600;

    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-color: rgba(37, 37, 37, 0.3);
    backdrop-filter: blur(1.6rem);

    opacity: 0;
    pointer-events: none;

    transition: opacity 0.8s ease 0s;

    .modal-show & {
        opacity: 1;
    }
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    padding: 3rem 2.4rem;

    visibility: hidden;
    pointer-events: none;

    transition: visibility 0.8s ease 0s;

    &.modal_show {
        z-index: 601;

        visibility: visible;
        overflow: auto;

        pointer-events: auto;

        .modal__content {
            visibility: visible;

            transform: scale(1);
        }
    }

    @media (max-width: 48em) {
        &:not(&_scheme, &_doc) {
            padding: 6.6rem 3rem 11.4rem 3rem;
        }
    }

    &_scheme {
        padding: 0;

        .modal {
            &__inner {
                padding: 0;
            }
            &__content {
                max-width: none;

                @media (max-width: 48em) {
                    display: flex;
                    flex-direction: column;
                    flex: 1 1 auto;
                }
            }
            &__body {
                border-radius: 0;

                background: $white;

                @media (max-width: 48em) {
                    display: flex;
                    flex: 1 1 auto;
                }
            }
            &__inner {
                padding: 0;

                @media (max-width: 48em) {
                    display: flex;
                    min-height: 100%;
                }
            }
        }

        @media (max-width: 48em) {
            display: none;
        }
    }

    &_video {
        @media (max-width: 48em) {
            display: none;
        }

        video {
            border-radius: 4rem;
        }
        .modal {
            &__close {
                top: 0;
                right: 0;
            }
            &__inner {
                padding: 15rem;
                padding-bottom: 0;
            }
        }
    }

    &_doc,
    &_video {
        padding: 0;

        .modal {
            &__body {
                border-radius: 0;

                background: none;
            }
            &__close {
                svg {
                    @media (max-width: 48em) {
                        width: 4rem;
                        height: 4rem;
                    }
                }
            }
        }
    }

    &_doc {
        .modal {
            &__wrapper {
                justify-content: stretch;
            }
            &__content {
                max-width: none;
            }
        }
    }

    // .modal__wrapper

    &__wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex: 1 1 auto;

        width: 100%;
        min-height: 100%;
    }

    // .modal__content

    &__content {
        position: relative;

        width: 100%;

        visibility: hidden;

        transform: scale(0);

        transition: transform 0.3s ease 0s;

        .lock & {
            visibility: visible;
        }

        @media (min-width: 48em) {
            max-width: 156rem;
        }
    }

    &__body {
        position: relative;

        border-radius: 0 10rem;

        color: $white;

        background: linear-gradient(
            236.5deg,
            #c10b73 -4.18%,
            #b6136d 13.92%,
            #f55bb2 30.54%,
            #b6136d 49.38%,
            #f55bb2 66.56%,
            #b6136d 83.74%,
            #c10b73 106.46%
        );

        @media (max-width: 48em) {
            border-radius: 0 8.8rem 0 8.8rem;
        }
    }

    &__close {
        position: absolute;
        z-index: 3;
        top: 4rem;
        right: 4rem;

        display: inline-flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        width: 9rem;
        height: 9rem;

        background: linear-gradient(298.18deg, #ebc76b 0%, #fee6aa 48.27%, #ecc96f 100%);

        svg {
            width: 2.4rem;
            height: 2.4rem;
        }

        @media (max-width: 48em) {
            top: 3.2rem;
            right: 3.2rem;

            width: 8.8rem;
            height: 8.8rem;
        }
    }

    &__inner {
        position: relative;
        z-index: 2;

        padding: 10rem;

        display: flex;
        flex-direction: column;

        .modal_text-info & {
            padding: 22.3rem 10rem;
        }

        @media (max-width: 48em) {
            padding: 8rem 4rem 10rem 4rem;

            .modal_text-info & {
                padding: 12rem 2.8rem;
            }
        }
    }

    &__title {
        @media (max-width: 48em) {
            font-weight: 600;
            font-size: 4.8rem;
            line-height: 110%;
        }
    }

    &__subtitle {
        font-weight: 500;
        font-size: 4rem;
        line-height: 110%;
    }

    &__head {
        margin-bottom: 6.4rem;

        display: grid;
        gap: 4rem;
        width: 100%;

        @media (min-width: 48em) {
            margin-bottom: 6.8rem;

            grid-template-columns: repeat(2, 1fr);
            align-items: center;
        }
    }

    &__scheme-wrap {
        @media (max-width: 48em) {
            min-height: 100%;
        }
    }

    &__scheme {
        @media (max-width: 48em) {
            height: 100%;
        }
    }

    &__play-btn {
        position: absolute;

        border-radius: 50%;

        &[data-scheme-btn='1'] {
            top: 16.9rem;
            left: 49.7rem;
        }
        &[data-scheme-btn='2'] {
            top: 37rem;
            left: 84.3rem;
        }
        &[data-scheme-btn='3'] {
            top: 81.9rem;
            left: 60.2rem;
        }
        &[data-scheme-btn='4'] {
            top: 142.9rem;
            left: 88.2rem;
        }

        img {
            width: 10rem;
        }
    }
}

.doc-modal {
    position: relative;

    @media (min-width: 48em) {
        padding: 4rem;

        height: 100vh;
    }

    .swiper-slide {
        height: auto;
    }

    &__thumb-swiper {
        ._no-slides & {
            display: none;
        }
        &.swiper {
            margin: 0;

            height: 100vh;
            width: 14.5rem;
        }
        .swiper-slide {
            &.swiper-slide-thumb-active .doc-modal__image-wrap {
                border: 0.2rem solid $pink;
            }
        }
        .doc-modal__image-wrap {
            width: 13.8rem;
            height: 19.5rem;
            border: 0.2rem solid transparent;

            cursor: pointer;

            transition: border 0.3s ease;
        }

        @media (max-width: 48em) {
            &.swiper {
                display: none;
            }
        }
    }

    &__image {
        height: 100%;

        object-fit: cover;
    }

    &__swiper {
        &.swiper {
            margin: 0;

            display: flex;
            align-items: center;
            width: 100%;
            height: 100%;
        }

        .swiper-slide {
            display: flex;
            justify-content: center;
            align-items: center;

            @media (max-width: 48em) {
                padding: 0 4rem;
            }
        }

        .doc-modal__image-wrap {
            width: 52.8rem;
            height: 74.6rem;

            @media (max-width: 48em) {
                width: 67rem;
                height: 94.8rem;
            }
        }
    }

    &__nav-btn {
        position: absolute;
        z-index: 2;
        top: 50%;

        transform: translateY(-50%);

        ._no-slides & {
            display: none;
        }

        &.i-btn_arr-next {
            right: 42.1rem;
        }
        &.i-btn_arr-prev {
            left: 42.1rem;
        }

        @media (max-width: 48em) {
            display: none;
        }
    }

    &__carousel {
        @media (min-width: 48em) {
            position: absolute;
            top: 4rem;
            left: 4rem;

            width: calc(100vw - 8rem);
            height: calc(100vh - 8rem);
        }
        @media (max-width: 48em) {
            padding-top: 26.2rem;

            display: flex;
            flex-direction: column;
            align-items: center;
            row-gap: 4.8rem;
        }
    }

    &__pagination {
        ._no-slides & {
            display: none;
        }

        .swiper-pagination-bullet:not(.swiper-pagination-bullet-active) {
            background-color: $white;
        }

        @media (min-width: 48em) {
            display: none;
        }
    }
}

.form-modal {
    display: flex;
    flex-direction: column;

    &__fields {
        margin-bottom: 6.4rem;

        display: grid;
        column-gap: 4rem;
        row-gap: 3.2rem;
        width: 100%;

        @media (min-width: 48em) {
            margin-bottom: 5rem;

            grid-template-columns: repeat(2, 1fr);
            align-items: center;

            .input_textarea {
                grid-row: span 2;
                height: 100%;
            }
        }
        @media (max-width: 48em) {
            .input_textarea {
                grid-row: 3/4;
                height: 40.2rem;
            }
        }
    }

    &__footer {
        display: flex;
        flex-direction: column;

        @media (min-width: 48em) {
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }
    }

    &__text {
        margin-bottom: 6.4rem;

        font-weight: 500;
        font-size: 3.2rem;
        line-height: 110%;

        @media (min-width: 48em) {
            margin-bottom: 0;

            max-width: 56.7rem;

            font-size: 1.8rem;
            line-height: 2.2rem;
        }
    }
}

.text-info-modal {
    display: flex;
    flex-direction: column;

    @media (min-width: 48em) {
        align-items: center;
        row-gap: 3.2rem;

        text-align: center;
    }

    &__title {
        @media (max-width: 48em) {
            margin-bottom: 4rem;

            max-width: 53rem;

            font-weight: 600;
            font-size: 4.8rem;
            line-height: 110%;
        }
    }

    &__text {
        @media (max-width: 48em) {
            margin-bottom: 6.4rem;

            font-weight: 500;
            font-size: 3.5rem;
            line-height: 110%;
        }
    }

    &__text {
        max-width: 48.8rem;
    }
}
