@import '../sections/hero';
@import '../sections/main-info';
@import '../sections/achievements';
@import '../sections/activities';
@import '../sections/products';
@import '../sections/news';
@import '../sections/complexes';
@import '../sections/location';
@import '../sections/text-info';
@import '../sections/cycle';
@import '../sections/principles';
@import '../sections/elevators';
@import '../sections/bg-info';
@import '../sections/request';
@import '../sections/elevator-characteristics';
@import '../sections/contacts-info';
@import '../sections/grid-section';
@import '../sections/export-info';
@import '../sections/managers';
@import '../sections/manager';
@import '../sections/exported-products';
@import '../sections/export-flour';
@import '../sections/suppliers';
@import '../sections/why-us';
@import '../sections/supplies-geography';
@import '../sections/certificates';
@import '../sections/livestock-numbers';
@import '../sections/breed';
@import '../sections/breed-features';
@import '../sections/fattening';
@import '../sections/banner';
@import '../sections/news-list';
@import '../sections/news-chapter';
@import '../sections/contacts';
@import '../sections/request-form';
@import '../sections/activity-info';
@import '../sections/plants-info';
@import '../sections/info-banner';
@import '../sections/cultures';
@import '../sections/advantages';
@import '../sections/cards';
@import '../sections/fw-video';
@import '../sections/scheme';
@import '../sections/production';
@import '../sections/laboratory';
@import '../sections/production-main';
@import '../sections/mills-banner';
@import '../sections/add-info-banner';
@import '../sections/sales';
@import '../sections/bags-banner';
@import '../sections/about-holding';
@import '../sections/quote';
@import '../sections/mission';
@import '../sections/standards';
@import '../sections/partners';
