@import '../sections/hero';
@import '../sections/main-info';
@import '../sections/achievements';
@import '../sections/activities';
@import '../sections/products';
@import '../sections/news';
@import '../sections/complexes';
@import '../sections/location';
@import '../sections/text-info';
@import '../sections/cycle';
@import '../sections/principles';
@import '../sections/elevators';
@import '../sections/bg-info';
@import '../sections/request';
@import '../sections/elevator-characteristics';
@import '../sections/contacts-info';
@import '../sections/grid-section';
@import '../sections/export-info';
@import '../sections/managers';
@import '../sections/manager';
@import '../sections/exported-products';
@import '../sections/export-flour';
@import '../sections/suppliers';
@import '../sections/why-us';
