<section class="about-holding">
    <div class="about-holding__container container">
        <div class="about-holding__tabs">
            <button type="button" class="about-holding__tab txt30 _is-active">1995–2000</button>
            <button type="button" class="about-holding__tab txt30">2000–2009</button>
            <button type="button" class="about-holding__tab txt30">2010</button>
            <button type="button" class="about-holding__tab txt30">2011–2018</button>
            <button type="button" class="about-holding__tab txt30">2018–2023</button>
            <button type="button" class="about-holding__tab txt30">2023-</button>
        </div>
    </div>
    <div class="about-holding__slides">
        <div class="about-holding__slide slide-about-holding">
            <div class="slide-about-holding__content">
                <span class="slide-about-holding__title">Дистрибуция зерна и муки</span>
                <ul class="slide-about-holding__list">
                    <li
                        class="slide-about-holding__list-item list-item-def list-item-def_white txt30 txt30_md"
                    >
                        Основание компании АГАТ — в 1995 г
                    </li>
                    <li
                        class="slide-about-holding__list-item list-item-def list-item-def_white txt30 txt30_md"
                    >
                        Организация сбыта зёрна и муки
                    </li>
                </ul>
            </div>
            <div class="slide-about-holding__bg-wrap">
                <img
                    src="./assets/images/bg/256063f75ac205c7132b5aa0bae0d594.webp"
                    alt=""
                    class="slide-about-holding__bg"
                />
            </div>
        </div>
        <div class="about-holding__slide slide-about-holding">
            <div class="slide-about-holding__content slide-about-holding__content_gold">
                <span class="slide-about-holding__title">Приобретение активов</span>
                <ul class="slide-about-holding__list">
                    <li
                        class="slide-about-holding__list-item list-item-def list-item-def_white txt30 txt30_md"
                    >
                        приобретение первой мельницы в 2000 году
                    </li>
                    <li
                        class="slide-about-holding__list-item list-item-def list-item-def_white txt30 txt30_md"
                    >
                        приобретение первого элеватора в 2009 году
                    </li>
                    <li
                        class="slide-about-holding__list-item list-item-def list-item-def_white txt30 txt30_md"
                    >
                        приобретение первого агропредприятия в 2002 году
                    </li>
                    <li
                        class="slide-about-holding__list-item list-item-def list-item-def_white txt30 txt30_md"
                    >
                        комплексный подход к организации производства от выращивания до прилавка
                    </li>
                </ul>
            </div>
            <div class="slide-about-holding__bg-wrap">
                <img
                    src="./assets/images/bg/fd585db8302feff263a346e931242e68.webp"
                    alt=""
                    class="slide-about-holding__bg"
                />
            </div>
        </div>
        <div class="about-holding__slide slide-about-holding">
            <div class="slide-about-holding__content slide-about-holding__content_gold">
                <span class="slide-about-holding__title">Начало экспортной деятельности</span>
                <ul class="slide-about-holding__list">
                    <li
                        class="slide-about-holding__list-item list-item-def list-item-def_white txt30 txt30_md"
                    >
                        поставки продукции в страны ближнего и дальнего зарубежья
                    </li>
                    <li
                        class="slide-about-holding__list-item list-item-def list-item-def_white txt30 txt30_md"
                    >
                        первые прямые контракты
                    </li>
                    <li
                        class="slide-about-holding__list-item list-item-def list-item-def_white txt30 txt30_md"
                    >
                        обьем экспорта превысил 300 тыс.тонн
                    </li>
                </ul>
            </div>
            <div class="slide-about-holding__bg-wrap">
                <img
                    src="./assets/images/bg/AdobeStock_388873014.webp"
                    alt=""
                    class="slide-about-holding__bg"
                />
            </div>
        </div>
        <div class="about-holding__slide slide-about-holding">
            <div class="slide-about-holding__content slide-about-holding__content_gold">
                <span class="slide-about-holding__title">В фокусе развитие агробизнеса</span>
                <ul class="slide-about-holding__list">
                    <li
                        class="slide-about-holding__list-item list-item-def list-item-def_white txt30 txt30_md"
                    >
                        приобретение 3-х мельниц
                    </li>
                    <li
                        class="slide-about-holding__list-item list-item-def list-item-def_white txt30 txt30_md"
                    >
                        приобретение 4-х элеваторов
                    </li>
                    <li
                        class="slide-about-holding__list-item list-item-def list-item-def_white txt30 txt30_md"
                    >
                        увеличение земельного банка
                    </li>
                    <li
                        class="slide-about-holding__list-item list-item-def list-item-def_white txt30 txt30_md"
                    >
                        расширение посевных площадей в Ставропольском крае, а также в КБ
                    </li>
                </ul>
            </div>
            <div class="slide-about-holding__bg-wrap">
                <img
                    src="./assets/images/bg/30318d4ddfceb1ebd89889c71f48e37b.webp"
                    alt=""
                    class="slide-about-holding__bg"
                />
            </div>
        </div>
        <div class="about-holding__slide slide-about-holding">
            <div class="slide-about-holding__content">
                <span class="slide-about-holding__title">Новые высоты</span>
                <ul class="slide-about-holding__list">
                    <li
                        class="slide-about-holding__list-item list-item-def list-item-def_white txt30 txt30_md"
                    >
                        запуск и развитие мясного и молочного направлений
                    </li>
                    <li
                        class="slide-about-holding__list-item list-item-def list-item-def_white txt30 txt30_md"
                    >
                        развитие цифровых технологий в агробизнесе
                    </li>
                    <li
                        class="slide-about-holding__list-item list-item-def list-item-def_white txt30 txt30_md"
                    >
                        развитие высокотехнологичного семеноводческого хозяйства полного цикла
                    </li>
                    <li
                        class="slide-about-holding__list-item list-item-def list-item-def_white txt30 txt30_md"
                    >
                        основание ЭКО-фермы
                    </li>
                    <li
                        class="slide-about-holding__list-item list-item-def list-item-def_white txt30 txt30_md"
                    >
                        развитие ЭКО-туризма
                    </li>
                </ul>
            </div>
            <div class="slide-about-holding__bg-wrap">
                <img
                    src="./assets/images/bg/ff1798eb0bb3aa557be8258f2bfe4dcf.webp"
                    alt=""
                    class="slide-about-holding__bg"
                />
            </div>
        </div>
        <div class="about-holding__slide slide-about-holding">
            <div class="slide-about-holding__content">
                <span class="slide-about-holding__title">Развитие и инновации</span>
                <ul class="slide-about-holding__list">
                    <li
                        class="slide-about-holding__list-item list-item-def list-item-def_white txt30 txt30_md"
                    >
                        введение в строй нового высокотехнологичного мукомольного комплекса, мощностью
                        500 тонн в сутки
                    </li>
                </ul>
            </div>
            <div class="slide-about-holding__bg-wrap">
                <img
                    src="./assets/images/bg/7d4a9204b171d1c8add59350a86575ec.webp"
                    alt=""
                    class="slide-about-holding__bg"
                />
            </div>
        </div>
    </div>
</section>
