<section class="achievements">
    <div class="achievements__container container">
        <span class="achievements__title h h_h1">Наши достижения</span>
        <ul class="achievements__cards">
            <li class="achievements__card card-achievements">
                <div class="card-achievements__content">
                    <span class="card-achievements__title num-txt">x 5.5</span>
                    <span class="card-achievements__subtitle h h_h5"
                        >Увеличение <br />
                        земельного фонда</span
                    >
                </div>
                <div class="card-achievements__bg-wrap">
                    <img
                        src="./assets/images/bg/061588c065c7f06ceed599600f50c6b5.webp"
                        alt=""
                        class="card-achievements__bg"
                    />
                </div>
            </li>
            <li class="achievements__card card-achievements">
                <div class="card-achievements__content">
                    <span class="card-achievements__title num-txt">x 3.2</span>
                    <span class="card-achievements__subtitle h h_h5"
                        >Экспорт сельскохозяйственной продукции</span
                    >
                </div>
                <div class="card-achievements__bg-wrap">
                    <img
                        src="./assets/images/bg/AdobeStock_105056622.webp"
                        alt=""
                        class="card-achievements__bg"
                    />
                </div>
            </li>
            <li class="achievements__card card-achievements">
                <div class="card-achievements__content">
                    <span class="card-achievements__title num-txt">x 2.5</span>
                    <span class="card-achievements__subtitle h h_h5">Мясное и молочное производство</span>
                </div>
                <div class="card-achievements__bg-wrap">
                    <img
                        src="./assets/images/bg/7d4a9204b171d1c8add59350a86575ec.webp"
                        alt=""
                        class="card-achievements__bg"
                    />
                </div>
            </li>
            <li class="achievements__card card-achievements">
                <div class="card-achievements__content">
                    <span class="card-achievements__title num-txt">x 7.8</span>
                    <span class="card-achievements__subtitle h h_h5">Растениеводство</span>
                </div>
                <div class="card-achievements__bg-wrap">
                    <img src="./assets/images/bg/scale_12002.webp" alt="" class="card-achievements__bg" />
                </div>
            </li>
        </ul>
    </div>
</section>
