<section class="activities">
    <div class="activities__container container">
        <span class="activities__title h h_h1">Ключевые направления</span>
        <div class="activities__carousel">
            <button type="button" class="activities__nav-btn i-btn i-btn_arr-prev">
                <svg>
                    <use href="#arr-left-svg"></use>
                </svg>
            </button>
            <div class="activities__swiper swiper">
                <ul class="activities__swiper-wrapper swiper-wrapper">
                    <li class="activities__slide slide-activities swiper-slide">
                        <a href="#" class="slide-activities__inner">
                            <div class="slide-activities__content">
                                <span class="slide-activities__subtitle h h_h5">Производство муки</span>
                            </div>
                            <div class="slide-activities__bg-wrap">
                                <img
                                    src="./assets/images/bg/b7a4dec327473d78739532095170dc68.webp"
                                    alt=""
                                    class="slide-activities__bg"
                                />
                            </div>
                        </a>
                    </li>
                    <li class="activities__slide slide-activities swiper-slide">
                        <a href="#" class="slide-activities__inner">
                            <div class="slide-activities__content">
                                <span class="slide-activities__subtitle h h_h5"
                                    >Мясное и молочное производство</span
                                >
                            </div>
                            <div class="slide-activities__bg-wrap">
                                <img
                                    src="./assets/images/bg/IMG_2066.webp"
                                    alt=""
                                    class="slide-activities__bg"
                                />
                            </div>
                        </a>
                    </li>
                    <li class="activities__slide slide-activities swiper-slide">
                        <a href="#" class="slide-activities__inner">
                            <div class="slide-activities__content">
                                <span class="slide-activities__subtitle h h_h5"
                                    >Экспорт сельскохозяйственной продукции</span
                                >
                            </div>
                            <div class="slide-activities__bg-wrap">
                                <img
                                    src="./assets/images/bg/55c61c2e771ada2e59653b4cb40c1543.webp"
                                    alt=""
                                    class="slide-activities__bg"
                                />
                            </div>
                        </a>
                    </li>
                    <li class="activities__slide slide-activities swiper-slide">
                        <a href="#" class="slide-activities__inner">
                            <div class="slide-activities__content">
                                <span class="slide-activities__subtitle h h_h5">Производство муки</span>
                            </div>
                            <div class="slide-activities__bg-wrap">
                                <img
                                    src="./assets/images/bg/b7a4dec327473d78739532095170dc68.webp"
                                    alt=""
                                    class="slide-activities__bg"
                                />
                            </div>
                        </a>
                    </li>
                </ul>
            </div>

            <button type="button" class="activities__nav-btn i-btn i-btn_arr-next">
                <svg>
                    <use href="#arr-right-svg"></use>
                </svg>
            </button>

            <div class="activities__pagination swiper-bullets"></div>
        </div>
    </div>
    <div class="activities__bg-wrap">
        <img class="activities__bg" src="./assets/images/bg/25f1f3b2add0cb2616e28d6aeabdfc56.webp" alt="" />
    </div>
</section>
