<div class="activities-menu">
    <div class="activities-menu__container container">
        <div class="activities-menu__head">
            <div class="activities-menu__logo-wrap">
                <img src="./assets/images/logo-dark.svg" alt="" class="activities-menu__logo" />
            </div>
            <button type="button" class="activities-menu__close-btn">
                <svg>
                    <use href="#cross-svg"></use>
                </svg>
            </button>
        </div>
        <div class="activities-menu__body">
            <div class="activities-menu__group activities-menu__group_fw">
                <a href="#" class="activities-menu__card card-activities-menu">
                    <div class="card-activities-menu__inner">
                        <span class="card-activities-menu__title h h_h3">Растениеводство</span>
                        <div class="card-activities-menu__bg-wrap">
                            <img
                                src="./assets/images/bg/AdobeStock_360455283.webp"
                                alt=""
                                class="card-activities-menu__bg"
                            />
                        </div>
                    </div>
                </a>
                <a href="#" class="activities-menu__card card-activities-menu">
                    <div class="card-activities-menu__inner">
                        <span class="card-activities-menu__title h h_h3">Животноводство</span>
                        <div class="card-activities-menu__bg-wrap">
                            <img
                                src="./assets/images/bg/8a2b02715ec9ce0ae19f279cea084a50.webp"
                                alt=""
                                class="card-activities-menu__bg"
                            />
                        </div>
                    </div>
                </a>
            </div>
            <div class="activities-menu__group">
                <a href="#" class="activities-menu__card card-activities-menu">
                    <div class="card-activities-menu__inner">
                        <span class="card-activities-menu__title h h_h3">Мельницы</span>
                        <div class="card-activities-menu__bg-wrap">
                            <img
                                src="./assets/images/bg/AdobeStock_441468434.webp"
                                alt=""
                                class="card-activities-menu__bg"
                            />
                        </div>
                    </div>
                </a>
                <a href="#" class="activities-menu__card card-activities-menu">
                    <div class="card-activities-menu__inner">
                        <span class="card-activities-menu__title h h_h3">Элеваторы</span>
                        <div class="card-activities-menu__bg-wrap">
                            <img
                                src="./assets/images/bg/a61b97e647b001ee5cca5604aaa955c4.webp"
                                alt=""
                                class="card-activities-menu__bg"
                            />
                        </div>
                    </div>
                </a>
                <div class="activities-menu__card activities-menu__card_video card-activities-menu">
                    <div class="card-activities-menu__inner">
                        <video
                            data-videojs
                            poster="./assets/images/bg/0ef53a833de0ea5b36fc8177b9a553f8.webp"
                            class="card-activities-menu__video"
                        >
                            <source src="./assets/video/sample-video.mp4" type="video/mp4" />
                        </video>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
