<section class="activity-info">
    <div class="activity-info__container container">
        <div class="activity-info__content">
            <span class="activity-info__title h h_h2">О направлении</span>
            <div class="activity-info__text-wrap txt30 txt30_md">
                <p class="activity-info__text">
                    Селекционно-семеноводческое предприятие с <span class="highlight">2012</span> г. работает
                    как производитель семян полевых культур.
                </p>
                <p class="activity-info__text">
                    Предприятие сотрудничает с двумя ведущими
                    <span class="highlight">селекционными</span> центрами южного федерального округа: НИИСх и
                    Северо-Кавказским ФНАЦ, Ставрополь, предлагая аграриям лучшую мировую и отечественную
                    <span class="highlight">генетику</span>
                </p>
                <p class="activity-info__text">Деятельность лицензирована</p>
            </div>
        </div>
    </div>
    <div class="activity-info__image-wrap">
        <img src="./assets/images/bg/AdobeStock_12759955712.webp" alt="" class="activity-info__image" />
    </div>
</section>
