<div class="add-info-banner">
    <div class="add-info-banner__image-wrap">
        <img
            src="./assets/images/content/131bd68c75ef419352dc9eba866eab63.webp"
            alt=""
            class="add-info-banner__image"
        />
        <span class="add-info-banner__description">Кафедральный собор Санта-Мария-дель-Фьоре</span>
    </div>
    <div class="add-info-banner__content">
        <span class="add-info-banner__title h h_h2">Линейка Флорентини (премиальная)</span>
        <div class="add-info-banner__text-wrap txt30 txt30_md">
            <p class="add-info-banner__text">
                Флорентини связано с латинским словом «Florens», что означает «цветущий», с богиней Флорой и
                Флоренцией.
            </p>
            <p class="add-info-banner__text">
                Образ яркой, смелой, гордой и любящей девушки сопровождает нашу премиальную упаковку муки. Она
                выбирает лучшее для себя и близких, заботится о здоровье, излучает энергию и оптимизм
            </p>
        </div>
    </div>
</div>
