<section class="advantages">
    <div class="advantages__container container">
        <span class="advantages__title h h_h1">Преимущества работы с СПК</span>
        <div class="advantages__carousel">
            <div class="advantages__swiper swiper">
                <ul class="advantages__swiper-wrapper swiper-wrapper">
                    <li class="advantages__card item-principles swiper-slide">
                        <div class="item-principles__icon">
                            <svg>
                                <use href="#guarantee-svg"></use>
                            </svg>
                        </div>
                        <span class="item-principles__title"
                            >Гарантированно качественный материал от производителя</span
                        >
                    </li>
                    <li class="advantages__card item-principles swiper-slide">
                        <div class="item-principles__icon">
                            <svg>
                                <use href="#doc-svg"></use>
                            </svg>
                        </div>
                        <span class="item-principles__title"
                            >Подготовка семенного материала с соблюдением всех ГОСТов</span
                        >
                    </li>
                    <li class="advantages__card item-principles swiper-slide">
                        <div class="item-principles__icon">
                            <svg>
                                <use href="#certificate-svg"></use>
                            </svg>
                        </div>
                        <span class="item-principles__title">Вся продукция компании сертифицирована</span>
                    </li>
                    <li class="advantages__card item-principles swiper-slide">
                        <div class="item-principles__icon">
                            <svg>
                                <use href="#wheat-svg"></use>
                            </svg>
                        </div>
                        <span class="item-principles__title">Репутация компании — работаем  с 2012 года</span>
                    </li>
                </ul>
            </div>
            <div class="advantages__pagination swiper-bullets"></div>
        </div>
    </div>
    <div class="advantages__bg-wrap">
        <img src="./assets/images/bg/0ef53a833de0ea5b36fc8177b9a553f8.webp" alt="" class="advantages__bg" />
    </div>
</section>
