<div class="bags-banner">
    <div class="bags-banner__container container">
        <div class="bags-banner__content">
            <span class="bags-banner__title h h_h2"
                >Сила муки зависит от количества и качества клейковины</span
            >
            <div class="bags-banner__text-wrap txt30">
                <p class="bags-banner__text">
                    Повышенная клейковина <span class="highlight">28-35%</span> говорит о сбалансированном
                    состоянии белково-протеиназного комплекса и реологических свойств теста (упругость,
                    эластичность, пластичность, увеличение  объема продукции).
                </p>
                <p class="bags-banner__text">
                    Качество клейковины ИДК <span class="highlight">65-75 ед.</span> , свидетельствует о
                    хорошей эластичности теста, которое в меру упругое и растяжимое.
                </p>
                <p class="bags-banner__text">
                    Белизна <span class="highlight">56-60 ед</span> , ЧП
                    <span class="highlight">300-350 сек</span> , зольность
                    <span class="highlight">0.55 %</span> подтверждает качество зерна, выращенного в
                    благоприятных климатических условиях.
                </p>
            </div>
        </div>
        <div class="bags-banner__icon">
            <svg>
                <use href="#flour-bag-svg-2"></use>
            </svg>
        </div>
    </div>
</div>
