<section class="bg-info">
    <div class="bg-info__container container">
        <span class="bg-info__title h h_h1">Современная лаборатория в каждом комплексе</span>
        <p class="bg-info__text txt30 txt30_md">
            Визировочные лаборатории, оборудованные автоматическими пробоотбойниками, тщательно следят
            за качеством поступающего и отгружаемого зёрна
        </p>
    </div>
    <div class="bg-info__bg-wrap">
        <video autoplay="true" loop muted src="./assets/video/videofon.mp4"></video>
    </div>
</section>
