<section class="breed-features">
    <div class="breed-features__container container">
        <span class="breed-features__title h h_h1">Особенности молочных коров голштинской породы</span>
        <div class="breed-features__body">
            <div class="breed-features__content">
                <ul class="breed-features__list">
                    <li class="breed-features__list-item list-item-nums txt30 txt30_md">
                        рекордная молочная продуктивность и высокие показатели качества продукта
                    </li>
                    <li class="breed-features__list-item list-item-nums txt30 txt30_md">хороший иммунитет</li>
                    <li class="breed-features__list-item list-item-nums txt30 txt30_md">
                        высокая устойчивость к заболеваниям
                    </li>
                    <li class="breed-features__list-item list-item-nums txt30 txt30_md">
                        высокий темп роста бычков в сравнении с другими породами молочного направления
                    </li>
                    <li class="breed-features__list-item list-item-nums txt30 txt30_md">
                        чистоплотность животных
                    </li>
                </ul>
            </div>
            <div class="breed-features__image-wrap">
                <img
                    src="./assets/images/content/97bfdd0d65a52fb6239b907747746ff3.webp"
                    alt=""
                    class="breed-features__image"
                />
            </div>
        </div>
    </div>
</section>
