<section class="breed">
    <div class="breed__container container">
        <span class="breed__title h h_h1">Порода голштинская ярославская высокоудойная</span>
        <div class="breed__images">
            <div class="breed__image-wrap">
                <img
                    src="./assets/images/content/feb96214e74b8a3f41e168bf43086307.webp"
                    alt=""
                    class="breed__image"
                />
            </div>
            <div class="breed__image-wrap _desktop-only">
                <img
                    src="./assets/images/content/3a5a4700b1da3c5c5239579d8714c5c5.webp"
                    alt=""
                    class="breed__image"
                />
            </div>
        </div>
    </div>
</section>
