<section class="cards">
    <div class="cards__container container">
        <ul class="cards__list">
            <li class="cards__card card-achievements">
                <div class="card-achievements__content">
                    <span class="card-achievements__subtitle h h_h4"
                        >Два мукомольных блока с централизованным управлением</span
                    >
                </div>
                <div class="card-achievements__bg-wrap">
                    <img
                        src="./assets/images/bg/71022078-01d4-49fc-80f0-942022c1489b.webp"
                        alt=""
                        class="card-achievements__bg"
                    />
                </div>
            </li>
            <li class="cards__card card-achievements">
                <div class="card-achievements__content">
                    <span class="card-achievements__subtitle h h_h4"
                        >Полностью автоматизированный процесс</span
                    >
                </div>
                <div class="card-achievements__bg-wrap">
                    <img src="./assets/images/bg/IMG_0306.webp" alt="" class="card-achievements__bg" />
                </div>
            </li>
            <li class="cards__card card-achievements">
                <div class="card-achievements__content">
                    <span class="card-achievements__subtitle h h_h4"
                        >Погрузка на рельсы и в автотранспорт</span
                    >
                </div>
                <div class="card-achievements__bg-wrap">
                    <img src="./assets/images/bg/22.webp" alt="" class="card-achievements__bg" />
                </div>
            </li>
            <li class="cards__card card-achievements">
                <div class="card-achievements__content">
                    <span class="card-achievements__subtitle h h_h4"
                        >Высокоскоростная упаковочная машина</span
                    >
                </div>
                <div class="card-achievements__bg-wrap">
                    <img
                        src="./assets/images/bg/93deb29e76d633569e0e81b353164c9a.webp"
                        alt=""
                        class="card-achievements__bg"
                    />
                </div>
            </li>
        </ul>
    </div>
</section>
