<section class="certificates">
    <div class="certificates__container container">
        <span class="certificates__title h h_h1">Наши сертификаты и дипломы</span>
        <div class="certificates__carousel">
            <button type="button" class="certificates__nav-btn i-btn i-btn_arr-prev">
                <svg>
                    <use href="#arr-left-svg"></use>
                </svg>
            </button>
            <div class="certificates__swiper swiper">
                <ul class="certificates__swiper-wrapper swiper-wrapper">
                    <li class="certificates__slide slide-certificates swiper-slide">
                        <a href="#" class="slide-certificates__inner">
                            <div class="slide-certificates__image-wrap">
                                <img
                                    src="./assets/images/content/d8bafefe3064fb946722029bd1eaff69.webp"
                                    alt=""
                                    class="slide-certificates__image"
                                />
                            </div>
                        </a>
                    </li>
                    <li class="certificates__slide slide-certificates swiper-slide">
                        <a href="#" class="slide-certificates__inner">
                            <div class="slide-certificates__image-wrap">
                                <img
                                    src="./assets/images/content/3cae8737ec47ca072fbdc666c59e4801.webp"
                                    alt=""
                                    class="slide-certificates__image"
                                />
                            </div>
                        </a>
                    </li>
                    <li class="certificates__slide slide-certificates swiper-slide">
                        <a href="#" class="slide-certificates__inner">
                            <div class="slide-certificates__image-wrap">
                                <img
                                    src="./assets/images/content/4d357ed2a2f452efcc0d2be05330a7d8ac2be044.webp"
                                    alt=""
                                    class="slide-certificates__image"
                                />
                            </div>
                        </a>
                    </li>
                    <li class="certificates__slide slide-certificates swiper-slide">
                        <a href="#" class="slide-certificates__inner">
                            <div class="slide-certificates__image-wrap">
                                <img
                                    src="./assets/images/content/d2be50912f8fb8c653b197341ffac803.webp"
                                    alt=""
                                    class="slide-certificates__image"
                                />
                            </div>
                        </a>
                    </li>
                    <li class="certificates__slide slide-certificates swiper-slide">
                        <a href="#" class="slide-certificates__inner">
                            <div class="slide-certificates__image-wrap">
                                <img
                                    src="./assets/images/content/d8bafefe3064fb946722029bd1eaff69.webp"
                                    alt=""
                                    class="slide-certificates__image"
                                />
                            </div>
                        </a>
                    </li>
                    <li class="certificates__slide slide-certificates swiper-slide">
                        <a href="#" class="slide-certificates__inner">
                            <div class="slide-certificates__image-wrap">
                                <img
                                    src="./assets/images/content/3cae8737ec47ca072fbdc666c59e4801.webp"
                                    alt=""
                                    class="slide-certificates__image"
                                />
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
            <button type="button" class="certificates__nav-btn i-btn i-btn_arr-next">
                <svg>
                    <use href="#arr-right-svg"></use>
                </svg>
            </button>
            <div class="certificates__pagination swiper-bullets"></div>
        </div>
    </div>
</section>
