<section class="certificates">
    <div class="certificates__container container">
        <span class="certificates__title h h_h1">Наши сертификаты и дипломы</span>
        <div class="certificates__carousel">
            <button type="button" class="certificates__nav-btn i-btn i-btn_arr-prev">
                <svg>
                    <use href="#arr-left-svg"></use>
                </svg>
            </button>
            <div class="certificates__swiper swiper">
                <ul class="certificates__swiper-wrapper swiper-wrapper">
                    <li class="certificates__slide slide-certificates swiper-slide">
                        <a href="#" class="slide-certificates__inner">
                            <div class="slide-certificates__image-wrap">
                                <img
                                    src="./assets/images/content/Сертификат RU-FSSC-V5.webp"
                                    alt=""
                                    class="slide-certificates__image"
                                />
                            </div>
                            <span class="slide-certificates__txt txt20 txt20_md">Сертификат № 567456938</span>
                        </a>
                    </li>
                    <li class="certificates__slide slide-certificates swiper-slide">
                        <a href="#" class="slide-certificates__inner">
                            <div class="slide-certificates__image-wrap">
                                <img
                                    src="./assets/images/content/Сертификат RU-FSSC-V5.webp"
                                    alt=""
                                    class="slide-certificates__image"
                                />
                            </div>
                            <span class="slide-certificates__txt txt20 txt20_md"
                                >Диплом «длинное название диплома»</span
                            >
                        </a>
                    </li>
                    <li class="certificates__slide slide-certificates swiper-slide">
                        <a href="#" class="slide-certificates__inner">
                            <div class="slide-certificates__image-wrap">
                                <img
                                    src="./assets/images/content/Сертификат RU-FSSC-V5.webp"
                                    alt=""
                                    class="slide-certificates__image"
                                />
                            </div>
                            <span class="slide-certificates__txt txt20 txt20_md">Сертификат № 567456938</span>
                        </a>
                    </li>
                    <li class="certificates__slide slide-certificates swiper-slide">
                        <a href="#" class="slide-certificates__inner">
                            <div class="slide-certificates__image-wrap">
                                <img
                                    src="./assets/images/content/Сертификат RU-FSSC-V5.webp"
                                    alt=""
                                    class="slide-certificates__image"
                                />
                            </div>
                            <span class="slide-certificates__txt txt20 txt20_md"
                                >Диплом «длинное название диплома»</span
                            >
                        </a>
                    </li>
                    <li class="certificates__slide slide-certificates swiper-slide">
                        <a href="#" class="slide-certificates__inner">
                            <div class="slide-certificates__image-wrap">
                                <img
                                    src="./assets/images/content/Сертификат RU-FSSC-V5.webp"
                                    alt=""
                                    class="slide-certificates__image"
                                />
                            </div>
                            <span class="slide-certificates__txt txt20 txt20_md">Сертификат № 567456938</span>
                        </a>
                    </li>
                    <li class="certificates__slide slide-certificates swiper-slide">
                        <a href="#" class="slide-certificates__inner">
                            <div class="slide-certificates__image-wrap">
                                <img
                                    src="./assets/images/content/Сертификат RU-FSSC-V5.webp"
                                    alt=""
                                    class="slide-certificates__image"
                                />
                            </div>
                            <span class="slide-certificates__txt txt20 txt20_md"
                                >Диплом «длинное название диплома»</span
                            >
                        </a>
                    </li>
                </ul>
            </div>
            <button type="button" class="certificates__nav-btn i-btn i-btn_arr-next">
                <svg>
                    <use href="#arr-right-svg"></use>
                </svg>
            </button>
            <div class="certificates__pagination swiper-bullets"></div>
        </div>
    </div>
</section>
