<section class="complexes">
    <div class="complexes__container container">
        <div class="complexes__info info-complexes">
            <div class="info-complexes__icon">
                <svg>
                    <use href="#complex-svg"></use>
                </svg>
            </div>
            <span class="info-complexes__subtitle info-complexes__subtitle_text h h_h4"
                >Элеваторы агрохолдинга АГАТ решают комплексные задачи хранения зернового материала и его
                логистики. Благодаря оперативности и клиентоориентированному подходу это направление стало
                важным звеном в деятельности компании и производстве сельхозпродукции.</span
            >
        </div>
        <div class="complexes__main">
            <span class="complexes__title h h_h1">5 элеваторных комплексов</span>
            <div class="complexes__content">
                <span class="complexes__subtitle h h_h4">общая мощность 200 тысяч тонн</span>
                <div class="complexes__carousel">
                    <div class="complexes__swiper swiper">
                        <ul class="complexes__swiper-wrapper swiper-wrapper">
                            <li class="complexes__slide card-complexes card-complexes_large swiper-slide">
                                <a href="#" class="card-complexes__inner">
                                    <div class="card-complexes__content">
                                        <span class="card-complexes__title h h_h4">Старомарьевский</span>
                                    </div>
                                    <div class="card-complexes__image-wrap">
                                        <img
                                            src="./assets/images/bg/41f84c032191b1d8d5314d9ea3d829a8.webp"
                                            alt=""
                                            class="card-complexes__image"
                                        />
                                    </div>
                                </a>
                            </li>
                            <li class="complexes__slide card-complexes swiper-slide">
                                <a href="#" class="card-complexes__inner">
                                    <div class="card-complexes__content">
                                        <span class="card-complexes__title h h_h4">Старомарьевский</span>
                                    </div>
                                    <div class="card-complexes__image-wrap">
                                        <img
                                            src="./assets/images/bg/bb9e7db3a8d1e65c58a8139acd75a7a9.webp"
                                            alt=""
                                            class="card-complexes__image"
                                        />
                                    </div>
                                </a>
                            </li>
                            <li class="complexes__slide card-complexes swiper-slide">
                                <a href="#" class="card-complexes__inner">
                                    <div class="card-complexes__content">
                                        <span class="card-complexes__title h h_h4">Старомарьевский</span>
                                    </div>
                                    <div class="card-complexes__image-wrap">
                                        <img
                                            src="./assets/images/bg/3c3bfc9510b5e1541d7c962147a65ecc.webp"
                                            alt=""
                                            class="card-complexes__image"
                                        />
                                    </div>
                                </a>
                            </li>
                            <li class="complexes__slide card-complexes swiper-slide">
                                <a href="#" class="card-complexes__inner">
                                    <div class="card-complexes__content">
                                        <span class="card-complexes__title h h_h4">Старомарьевский</span>
                                    </div>
                                    <div class="card-complexes__image-wrap">
                                        <img
                                            src="./assets/images/bg/9467aab856188c319fbcd02c80a53224.webp"
                                            alt=""
                                            class="card-complexes__image"
                                        />
                                    </div>
                                </a>
                            </li>
                            <li class="complexes__slide card-complexes swiper-slide">
                                <a href="#" class="card-complexes__inner">
                                    <div class="card-complexes__content">
                                        <span class="card-complexes__title h h_h4">Старомарьевский</span>
                                    </div>
                                    <div class="card-complexes__image-wrap">
                                        <img
                                            src="./assets/images/bg/be5f8639bd5e8fa71c21fc85e412a439.webp"
                                            alt=""
                                            class="card-complexes__image"
                                        />
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="complexes__pagination swiper-bullets"></div>
                </div>
            </div>
        </div>
    </div>
</section>
