<section class="contacts-info">
    <div id="contacts-map" class="contacts-info__map"></div>
    <div class="contacts-info__container container">
        <div class="contacts-info__content">
            <span class="contacts-info__title h h_h2">Контакты</span>
            <ul class="contacts-info__list">
                <li class="contacts-info__item list-i-item">
                    <div class="list-i-item__icon">
                        <svg>
                            <use href="#location-svg"></use>
                        </svg>
                    </div>
                    <span class="list-i-item__text txt30 txt30_md"
                        >Ставропольский край, Буденновский район, с. Стародубское, ул. Вокзальная, 1</span
                    >
                </li>
                <li class="contacts-info__item list-i-item">
                    <div class="list-i-item__icon">
                        <svg>
                            <use href="#phone-svg"></use>
                        </svg>
                    </div>
                    <span class="list-i-item__text txt30 txt30_md">
                        <a href="tel:78655964450">+7 86559 64450,</a>
                        <a href="tel:78655964228">+7 86559 64228</a>
                    </span>
                </li>
                <li class="contacts-info__item list-i-item">
                    <div class="list-i-item__icon">
                        <svg>
                            <use href="#letter-svg"></use>
                        </svg>
                    </div>
                    <span class="list-i-item__text txt30 txt30_md">
                        <a href="mailto:zao.galex@yandex.ru">zao.galex@yandex.ru</a>
                    </span>
                </li>
            </ul>
        </div>
    </div>
</section>
