<section class="contacts">
    <div data-simplebar class="contacts__list-wrap">
        <ul class="contacts__list">
            <li data-office-name="main-office" class="contacts__list-item">
                <span class="contacts__subtitle h h_h4">Главный офис</span>
                <ul class="contacts__sublist">
                    <li class="contacts-info__item list-i-item">
                        <div class="list-i-item__icon">
                            <svg>
                                <use href="#location-svg"></use>
                            </svg>
                        </div>
                        <span class="list-i-item__text txt30 txt30_md"
                            >Ставропольский край, Буденновский муниципальный округ, город Будённовск,
                            ул. Красная, зд.236а</span
                        >
                    </li>
                    <li class="contacts-info__item list-i-item">
                        <div class="list-i-item__icon">
                            <svg>
                                <use href="#phone-svg"></use>
                            </svg>
                        </div>
                        <span class="list-i-item__text txt30 txt30_md"
                            ><a href="tel:8655971248" class="list-i-item__inner">(86559) 7–12–48</a></span
                        >
                    </li>
                    <li class="contacts-info__item list-i-item">
                        <div class="list-i-item__icon">
                            <svg>
                                <use href="#letter-svg"></use>
                            </svg>
                        </div>
                        <span class="list-i-item__text txt30 txt30_md"
                            ><a href="mailto:export013@yandex.ru" class="list-i-item__inner"
                                >export013@yandex.ru</a
                            ></span
                        >
                    </li>
                </ul>
            </li>
            <li data-office-name="mart-office" class="contacts__list-item">
                <span class="contacts__subtitle h h_h4">Март</span>
                <ul class="contacts__sublist contacts-list-map">
                    <li class="contacts-info__item list-i-item">
                        <div class="list-i-item__icon">
                            <svg>
                                <use href="#location-svg"></use>
                            </svg>
                        </div>
                        <span class="list-i-item__text txt30 txt30_md"
                            >Буденновский муниципальный округ, город Будённовск, ул. Красная, зд.236а</span
                        >
                    </li>
                    <li class="contacts-info__item list-i-item">
                        <div class="list-i-item__icon">
                            <svg>
                                <use href="#phone-svg"></use>
                            </svg>
                        </div>
                        <span class="list-i-item__text txt30 txt30_md"
                            ><a href="tel:8655971248" class="list-i-item__inner">(86559) 7–12–48</a></span
                        >
                    </li>
                    <li class="contacts-info__item list-i-item">
                        <div class="list-i-item__icon">
                            <svg>
                                <use href="#letter-svg"></use>
                            </svg>
                        </div>
                        <span class="list-i-item__text txt30 txt30_md"
                            ><a href="mailto:export013@yandex.ru" class="list-i-item__inner"
                                >export013@yandex.ru</a
                            ></span
                        >
                    </li>
                </ul>
            </li>
            <li class="contacts__list-item">
                <span class="contacts__subtitle h h_h4">Александровский</span>
                <ul class="contacts__sublist">
                    <li class="contacts-info__item list-i-item">
                        <div class="list-i-item__icon">
                            <svg>
                                <use href="#location-svg"></use>
                            </svg>
                        </div>
                        <span class="list-i-item__text txt30 txt30_md"
                            >Ставропольский край, Буденновский муниципальный округ, город Будённовск,
                            ул. Красная, зд.236а</span
                        >
                    </li>
                    <li class="contacts-info__item list-i-item">
                        <div class="list-i-item__icon">
                            <svg>
                                <use href="#phone-svg"></use>
                            </svg>
                        </div>
                        <span class="list-i-item__text txt30 txt30_md"
                            ><a href="tel:8655971248" class="list-i-item__inner">(86559) 7–12–48</a></span
                        >
                    </li>
                    <li class="contacts-info__item list-i-item">
                        <div class="list-i-item__icon">
                            <svg>
                                <use href="#letter-svg"></use>
                            </svg>
                        </div>
                        <span class="list-i-item__text txt30 txt30_md"
                            ><a href="mailto:export013@yandex.ru" class="list-i-item__inner"
                                >export013@yandex.ru</a
                            ></span
                        >
                    </li>
                </ul>
            </li>
        </ul>
    </div>
   
    <div id="contacts-list-map" class="contacts__map"></div>
 
</section>
