<section class="cultures">
    <div class="cultures__main">
        <div class="cultures__container container">
            <div class="cultures__content">
                <span class="cultures__title h h_h1">Сельскохозяйственные культуры</span>
                <span class="cultures__subtitle h h_h4"
                    >Выращиваем и осуществляем реализацию широкого набора сельскохозяйственных культур</span
                >
                <ul class="cultures__list">
                    <li class="cultures__list-item list-item-nums txt30 txt30_md">пшеница</li>
                    <li class="cultures__list-item list-item-nums txt30 txt30_md">ячмень</li>
                    <li class="cultures__list-item list-item-nums txt30 txt30_md">кукуруза</li>
                    <li class="cultures__list-item list-item-nums txt30 txt30_md">подсолнечник</li>
                </ul>
            </div>
            <div class="cultures__images">
                <div class="cultures__images-group">
                    <div class="cultures__image-wrap">
                        <img
                            src="./assets/images/content/e110064200625985e6944527b875388d.webp"
                            alt=""
                            class="cultures__image"
                        />
                    </div>
                    <div class="cultures__image-wrap">
                        <img
                            src="./assets/images/content/bc831e2b2a39e80e438fafa842fd2877.webp"
                            alt=""
                            class="cultures__image"
                        />
                    </div>
                </div>
                <div class="cultures__images-group">
                    <div class="cultures__image-wrap">
                        <img
                            src="./assets/images/content/b941e5fb2cdc2232686610fc42ea3106.webp"
                            alt=""
                            class="cultures__image"
                        />
                    </div>
                    <div class="cultures__image-wrap">
                        <img
                            src="./assets/images/content/fdbcbd7d9920819bb063ae9665dd1b1a.webp"
                            alt=""
                            class="cultures__image"
                        />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="cultures__cards">
        <div class="cultures__container container">
            <ul class="cultures__cards-list">
                <li class="cultures__card card-plants-info">
                    <div class="card-plants-info__inner">
                        <div class="card-plants-info__content">
                            <span class="card-plants-info__title num-txt">30 000 т</span>
                            <span class="card-plants-info__subtitle h h_h5"
                                >в год внесение органических удобрений</span
                            >
                        </div>
                        <div class="card-plants-info__bg-wrap">
                            <img
                                src="./assets/images/bg/c7bf9dca3d9d94fd7dfaaf0d879149e2.webp"
                                alt=""
                                class="card-plants-info__bg"
                            />
                        </div>
                    </div>
                </li>
                <li class="cultures__card card-plants-info">
                    <div class="card-plants-info__inner">
                        <div class="card-plants-info__content">
                            <span class="card-plants-info__title num-txt">50 000 Га</span>
                            <span class="card-plants-info__subtitle h h_h5"
                                >общий земельный банк агрохолдинга АГАТ</span
                            >
                        </div>
                        <div class="card-plants-info__bg-wrap">
                            <img
                                src="./assets/images/bg/loren-king-EA45-AXlvWk-unsplash.webp"
                                alt=""
                                class="card-plants-info__bg"
                            />
                        </div>
                    </div>
                </li>
                <li class="cultures__card cultures__card_large card-plants-info">
                    <div class="card-plants-info__inner">
                        <div class="card-plants-info__content">
                            <span class="card-plants-info__title num-txt">606 Га</span>
                            <span class="card-plants-info__subtitle h h_h5">орошаемое земледелие</span>
                        </div>
                        <div class="card-plants-info__bg-wrap">
                            <img
                                src="./assets/images/bg/AdobeStock_489842234.webp"
                                alt=""
                                class="card-plants-info__bg"
                            />
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>
