<section class="cycle">
    <div class="cycle__container container">
        <span class="cycle__title h h_h1">Полный цикл работы с зерном</span>
        <ul class="cycle__list">
            <li class="cycle__list-item list-item-blank list-item-blank_white">Приёмка</li>
            <li class="cycle__list-item list-item-blank list-item-blank_white">Хранение</li>
            <li class="cycle__list-item list-item-blank list-item-blank_white">Очистка</li>
            <li class="cycle__list-item list-item-blank list-item-blank_white">Сушка</li>
            <li class="cycle__list-item list-item-blank list-item-blank_white">Отгрузка</li>
        </ul>
    </div>
    <div class="cycle__bg-wrap">
        <img
            src="./assets/images/bg/6026bdf3dc3834ce0c922bcf275696ac8d9d41ca.webp"
            alt=""
            class="cycle__bg"
        />
    </div>
</section>
