<section class="elevators">
    <div class="elevators__container container">
        <div class="elevators__content">
            <span class="elevators__title h h_h2">Элеваторы ООО «АГАТ»- это</span>
            <ul class="elevators__list">
                <li class="elevators__list-item list-item-nums txt30 txt20_md">
                    наличие мощностей для длительного хранения без потерь и качества.
                </li>
                <li class="elevators__list-item list-item-nums txt30 txt20_md">
                    контроль текущего состояния, проверка целевых параметров в нужный момент
                </li>
                <li class="elevators__list-item list-item-nums txt30 txt20_md">
                    поддержка требований уровней по температуре и влажности
                </li>
                <li class="elevators__list-item list-item-nums txt30 txt20_md">
                    современные решения для надёжного хранения
                </li>
            </ul>
        </div>
        <div class="elevators__image-wrap">
            <img
                src="./assets/images/content/5421b609233ba351818148244754828d.webp"
                alt=""
                class="elevators__image"
            />
        </div>
    </div>
</section>
