<section class="elevator-characteristics">
    <div class="elevator-characteristics__bg-wrap">
        <img
            src="./assets/images/bg/83244fe9b309d8b920af5a9a62f792e6.webp"
            alt=""
            class="elevator-characteristics__bg"
        />
    </div>
    <div class="elevator-characteristics__container container">
        <div class="elevator-characteristics__content">
            <span class="elevator-characteristics__title h h_h2">Характеристики элеватора</span>
            <ul class="elevator-characteristics__list">
                <li class="elevator-characteristics__item">
                    <span class="elevator-characteristics__subtitle h h_h4">Объём хранения 35 000 т</span>
                    <ul class="elevator-characteristics__sublist">
                        <li class="elevator-characteristics__sublist-item h h_h5">
                            Вертикальное хранение — 20 000 т
                        </li>
                        <li class="elevator-characteristics__sublist-item h h_h5">
                            Напольное хранение — 15 000 т
                        </li>
                    </ul>
                </li>
                <li class="elevator-characteristics__item">
                    <span class="elevator-characteristics__subtitle h h_h4">Мощность отгрузки</span>
                    <ul class="elevator-characteristics__sublist">
                        <li class="elevator-characteristics__sublist-item h h_h5">Ж/Д — 21 вагон/сутки</li>
                        <li class="elevator-characteristics__sublist-item h h_h5">АВТО — 1000 тонн/сутки</li>
                    </ul>
                </li>
                <li class="elevator-characteristics__item">
                    <span class="elevator-characteristics__subtitle h h_h4">Мощность очистки</span>
                    <ul class="elevator-characteristics__sublist">
                        <li class="elevator-characteristics__sublist-item h h_h5">100тонн/час</li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="elevator-characteristics__image-wrap">
            <img
                src="./assets/images/content/2899700374f0892f0da31788f24135d8.webp"
                alt=""
                class="elevator-characteristics__image"
            />
        </div>
    </div>
</section>
