<section class="export-flour">
    <div class="export-flour__container container">
        <span class="export-flour__title h h_h1">Основным направлением экспорта является мука</span>
        <p class="export-flour__text txt30 txt30_md">
            Собственное мукомольное производство, отлаженная логистика, участки отгрузки, хранения и
            перегрузки муки (склад) позволяют предлагать качественную продукцию в максимально оперативные
            сроки
        </p>
        <div class="export-flour__image-wrap">
            <img src="./assets/images/content/flour.webp" alt="" class="export-flour__image" />
        </div>
    </div>
</section>
