<section class="exported-products">
    <div class="exported-products__container container">
        <span class="exported-products__title h h_h1">Экспортируемая продукция</span>
        <p class="exported-products__text txt30 txt30_md">
            Конечные цены зависят от объёма и страны экспорта. Оставьте заявку, чтобы узнать точные цены
        </p>
        <a href="#" class="exported-products__btn btn btn_pink">
            <span class="btn__txt">Узнать цены</span>
        </a>

        <div class="exported-products__carousel">
            <button type="button" class="exported-products__nav-btn i-btn i-btn_arr-prev">
                <svg>
                    <use href="#arr-left-svg"></use>
                </svg>
            </button>
            <div class="exported-products__swiper swiper">
                <ul class="exported-products__swiper-wrapper swiper-wrapper">
                    <li class="exported-products__slide slide-exported-products swiper-slide">
                        <div class="slide-exported-products__icon">
                            <svg>
                                <use href="#flour-svg"></use>
                            </svg>
                        </div>
                        <span class="slide-exported-products__title h h_h4">Мука</span>
                        <p class="slide-exported-products__text txt20 txt20_md">Объём отгрузки от 1000 т</p>
                    </li>
                    <li class="exported-products__slide slide-exported-products swiper-slide">
                        <div class="slide-exported-products__icon">
                            <svg>
                                <use href="#cereals-svg"></use>
                            </svg>
                        </div>
                        <span class="slide-exported-products__title h h_h4">Крупы</span>
                        <p class="slide-exported-products__text txt20 txt20_md">Объём отгрузки от 1000 т</p>
                    </li>
                    <li class="exported-products__slide slide-exported-products swiper-slide">
                        <div class="slide-exported-products__icon">
                            <svg>
                                <use href="#oils-svg"></use>
                            </svg>
                        </div>
                        <span class="slide-exported-products__title h h_h4">Масла</span>
                        <p class="slide-exported-products__text txt20 txt20_md">Объём отгрузки от 1000 т</p>
                    </li>
                    <li class="exported-products__slide slide-exported-products swiper-slide">
                        <div class="slide-exported-products__icon">
                            <svg>
                                <use href="#sugar-svg"></use>
                            </svg>
                        </div>
                        <span class="slide-exported-products__title h h_h4">Сахар</span>
                        <p class="slide-exported-products__text txt20 txt20_md">Объём отгрузки от 1000 т</p>
                    </li>
                    <li class="exported-products__slide slide-exported-products swiper-slide">
                        <div class="slide-exported-products__icon">
                            <svg>
                                <use href="#cereals-svg"></use>
                            </svg>
                        </div>
                        <span class="slide-exported-products__title h h_h4">Крупы</span>
                        <p class="slide-exported-products__text txt20 txt20_md">Объём отгрузки от 1000 т</p>
                    </li>
                </ul>
            </div>
            <button type="button" class="exported-products__nav-btn i-btn i-btn_arr-next">
                <svg>
                    <use href="#arr-right-svg"></use>
                </svg>
            </button>
        </div>
    </div>
    <div class="exported-products__bg-wrap">
        <img src="./assets/images/bg/scale_12002.webp" alt="" class="exported-products__bg" />
    </div>
</section>
