<section class="export-info">
    <div class="export-info__container container">
        <div class="export-info__head head-export-info">
            <span class="head-export-info__title h h_h2">ООО <span>«Ставэкспорт»</span></span>
            <div class="head-export-info__text-wrap txt30 txt30_md">
                <p class="head-export-info__text">
                    ООО «Ставэкспорт» - <span class="highlight">надежный</span> поставщик сельскохозяйственной
                    продукции для производителей и трейдеров в России, Китае, Пакистане, Азербайджане, Иране,
                    Турции, Ираке, Армении, Грузии и Беларуси.
                </p>
                <p class="head-export-info__text">
                    Экспортная деятельность - одна из <span class="highlight">приоритетных</span> и
                    перспективных.
                </p>
                <p class="head-export-info__text">
                    В структуре продаж ее доля составляет более 40 %,  цель -
                    <span class="highlight">наращивание</span> товарооборота
                </p>
            </div>
        </div>
        <div class="export-info__body">
            <div class="export-info__image-wrap">
                <img
                    src="./assets/images/content/55c61c2e771ada2e59653b4cb40c1543.webp"
                    alt=""
                    class="export-info__image"
                />
            </div>
            <div class="export-info__content">
                <ul class="export-info__numbers-list">
                    <li class="export-info__numbers numbers-export-info">
                        <span class="numbers-export-info__title num-txt">29 000</span>
                        <span class="numbers-export-info__text txt30 txt30_md"
                            >тонн <span class="color_pink">муки</span> отгрузили  за прошлый год</span
                        >
                    </li>
                    <li class="export-info__numbers numbers-export-info">
                        <span class="numbers-export-info__title num-txt">12</span>
                        <span class="numbers-export-info__text txt30 txt30_md">лет на рынке</span>
                    </li>
                </ul>
                <div class="export-info__text-wrap h h_h5">
                    <p class="export-info__text">
                        Благодаря высокотехнологичному производству компания вошла в топ 20 мукомольных
                        заводов и продолжает стабильно расти
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
