<section class="fattening">
    <div class="fattening__main">
        <div class="fattening__container container">
            <span class="fattening__title h h_h2">Откорм на мясо — с 2023 года, порядка 1000 кг в месяц</span>
            <div class="fattening__body">
                <div class="fattening__text-wrap txt30 txt30_md">
                    <p class="fattening__text">
                        Сбалансированная кормосмесь (грубые, сочные и специальные корма) с добавлением пищевых
                        добавок, минералов
                    </p>
                    <p class="fattening__text">
                        Основа- корма, выращенные на собственных полях в течение года
                    </p>
                    <p class="fattening__text">
                        Запасы кормов и их качество позволяет нивелировать сезонность в производстве молока
                    </p>
                    <p class="fattening__text">Используется специальная техника для приготовления кормов</p>
                    <p class="fattening__text">Механизированная подача кормосмеси</p>
                    <p class="fattening__text">Регулирование корма в зависимости от удоев.</p>
                </div>
                <div class="fattening__image-wrap">
                    <img
                        src="./assets/images/content/0eaeef655beaad4819849fdcf02dcc47.webp"
                        alt=""
                        class="fattening__image"
                    />
                </div>
            </div>
        </div>
    </div>
    <div class="fattening__info info-fattening">
        <div class="info-fattening__container container">
            <div class="info-fattening__image-wrap">
                <img
                    src="./assets/images/content/AdobeStock_552256236.webp"
                    alt=""
                    class="info-fattening__image"
                />
            </div>
            <div class="info-fattening__content">
                <div class="info-fattening__text-wrap">
                    <p class="info-fattening__text">
                        Механизированное производство и подача кормов. Мы регулируем состав кормов
                        в зависимости от удоев, сухостой или кормление и т д
                    </p>
                    <p class="info-fattening__text">Откармливаем бычков — не менее 100 кг на особь.</p>
                </div>
            </div>
        </div>
    </div>
</section>
