<div class="production-main__group">
    <div class="production-main__card card-production-main card-production-main_has-list">
        <div class="card-production-main__image-wrap card-production-main__image-wrap_gold">
            <img
                src="./assets/images/products/Remove-bg.ai_1716542864570.webp"
                alt=""
                class="card-production-main__image"
            />
        </div>
        <div class="card-production-main__content">
            <span class="card-production-main__title">Отруби в мешках по 25 кг</span>
            <div class="card-production-main__list-wrap">
                <span class="card-production-main__subtitle">состав пшеничных отрубей:</span>
                <ul class="card-production-main__list">
                    <li class="card-production-main__list-item list-item-def txt30 txt30_md">Воды — 14,8%</li>
                    <li class="card-production-main__list-item list-item-def txt30 txt30_md">
                        Белки — 15,5%
                    </li>
                    <li class="card-production-main__list-item list-item-def txt30 txt30_md">Жиры — 3,2%</li>
                    <li class="card-production-main__list-item list-item-def txt30 txt30_md">
                        Клетчатка — 8,4%
                    </li>
                    <li class="card-production-main__list-item list-item-def txt30 txt30_md">
                        Безазотистые экстрактивные вещества — 53,2%
                    </li>
                    <li class="card-production-main__list-item list-item-def txt30 txt30_md">Золы — 4,9%</li>
                </ul>
            </div>
            <button type="button" class="card-production-main__btn btn btn_pink">
                <span class="btn__txt">Запросить прайс</span>
            </button>
        </div>
    </div>
    <div
        class="production-main__card card-production-main card-production-main_has-list card-production-main_reversed"
    >
        <div class="card-production-main__image-wrap card-production-main__image-wrap_fw">
            <img
                src="./assets/images/content/AdobeStock_94348324.webp"
                alt=""
                class="card-production-main__image"
            />
        </div>
        <div class="card-production-main__content">
            <span class="card-production-main__title">Отруби насыпью</span>
            <div class="card-production-main__list-wrap">
                <span class="card-production-main__subtitle">состав пшеничных отрубей:</span>

                <ul class="card-production-main__list">
                    <li class="card-production-main__list-item list-item-def txt30 txt30_md">Воды — 14,8%</li>
                    <li class="card-production-main__list-item list-item-def txt30 txt30_md">
                        Белки — 15,5%
                    </li>
                    <li class="card-production-main__list-item list-item-def txt30 txt30_md">Жиры — 3,2%</li>
                    <li class="card-production-main__list-item list-item-def txt30 txt30_md">
                        Клетчатка — 8,4%
                    </li>
                    <li class="card-production-main__list-item list-item-def txt30 txt30_md">
                        Безазотистые экстрактивные вещества — 53,2%
                    </li>
                    <li class="card-production-main__list-item list-item-def txt30 txt30_md">Золы — 4,9%</li>
                </ul>
            </div>
            <button type="button" class="card-production-main__btn btn btn_pink">
                <span class="btn__txt">Запросить прайс</span>
            </button>
        </div>
    </div>
</div>
