<div class="production-main__group">
    <div class="production-main__card card-production-main card-production-main_has-list">
        <div class="card-production-main__image-wrap card-production-main__image-wrap_gold">
            <img
                src="./assets/images/products/Remove-bg.ai_1714755524334.webp"
                alt=""
                class="card-production-main__image"
            />
        </div>
        <div class="card-production-main__content">
            <span class="card-production-main__title">Отруби в мешках по 25 кг</span>
            <ul class="card-production-main__list">
                <li class="card-production-main__list-item list-item-def txt30 txt30_md">Клейковина — 28%</li>
                <li class="card-production-main__list-item list-item-def txt30 txt30_md">Белизна — 60 ед</li>
                <li class="card-production-main__list-item list-item-def txt30 txt30_md">ИДК — 65-70 ед</li>
                <li class="card-production-main__list-item list-item-def txt30 txt30_md">Ч.П.- 350 сек.</li>
            </ul>
            <button type="button" class="card-production-main__btn btn btn_pink">
                <span class="btn__txt">Запросить прайс</span>
            </button>
        </div>
    </div>
    <div
        class="production-main__card card-production-main card-production-main_has-list card-production-main_reversed"
    >
        <div class="card-production-main__image-wrap card-production-main__image-wrap_fw">
            <img
                src="./assets/images/content/AdobeStock_94348324.webp"
                alt=""
                class="card-production-main__image"
            />
        </div>
        <div class="card-production-main__content">
            <span class="card-production-main__title">Отруби насыпью</span>
            <ul class="card-production-main__list">
                <li class="card-production-main__list-item list-item-def txt30 txt30_md">Клейковина — 30%</li>
                <li class="card-production-main__list-item list-item-def txt30 txt30_md">Белизна — 60 ед.</li>
                <li class="card-production-main__list-item list-item-def txt30 txt30_md">ИДК — 65-70 ед.</li>
                <li class="card-production-main__list-item list-item-def txt30 txt30_md">Ч.П.- 320 сек.</li>
            </ul>
            <button type="button" class="card-production-main__btn btn btn_pink">
                <span class="btn__txt">Запросить прайс</span>
            </button>
        </div>
    </div>
</div>
