<div class="production-main__group">
    <div class="production-main__card card-production-main">
        <div class="card-production-main__image-wrap">
            <img
                src="./assets/images/products/Remove-bg.ai_1714747044010.webp"
                alt=""
                class="card-production-main__image"
            />
        </div>
        <div class="card-production-main__content">
            <span class="card-production-main__title">Мука пшеничная</span>
            <div class="card-production-main__text-wrap">
                <p class="card-production-main__text">
                    Это правильная мука из пшеницы мягких сортов, которая подходит для выпечки столовых сортов
                    хлеба.
                </p>
                <p class="card-production-main__text">
                    Изготовлена из цельного зерна, что позволяет получить тесто для высококачественного хлеба
                    в бытовых хлебопечках, ремесленного (крафтового) хлеба и великолепных батонов.
                </p>
            </div>
            <button type="button" class="card-production-main__btn btn btn_pink">
                <span class="btn__txt">Запросить прайс</span>
            </button>
        </div>
    </div>
    <div class="production-main__card card-production-main card-production-main_reversed">
        <div class="card-production-main__image-wrap">
            <img
                src="./assets/images/products/Remove-bg.ai_1714748126516.webp"
                alt=""
                class="card-production-main__image"
            />
        </div>
        <div class="card-production-main__content">
            <span class="card-production-main__title">Премиум</span>
            <div class="card-production-main__text-wrap">
                <p class="card-production-main__text">Мука премиум-класса.</p>
                <p class="card-production-main__text">
                    Экологически чистый, полезный продукт, из которого вы получите изделия самого высокого
                    качества и яркого вкуса.
                </p>
                <p class="card-production-main__text">
                    Используется для приготовления вкусной и полезной выпечки, пельменей, домашней лапши,
                    кляров и др.
                </p>
            </div>
            <button type="button" class="card-production-main__btn btn btn_pink">
                <span class="btn__txt">Запросить прайс</span>
            </button>
        </div>
    </div>
    <div class="production-main__card card-production-main">
        <div class="card-production-main__image-wrap">
            <img
                src="./assets/images/products/Remove-bg.ai_1714748358055.webp"
                alt=""
                class="card-production-main__image"
            />
        </div>
        <div class="card-production-main__content">
            <span class="card-production-main__title">Для кексов</span>
            <div class="card-production-main__text-wrap">
                <p class="card-production-main__text">
                    Мука, богатая всеми полезными веществами: витаминами, аминокислотами, микроэлементами.
                </p>
                <p class="card-production-main__text">
                    Мука идеально подходит для приготовления изделий, тесто в которых должно подниматься.
                </p>
                <p class="card-production-main__text">
                    Превосходно получаются кексы, пироги и пирожки, оладьи, дрожжевые блины, песочное печенье.
                    У нее приятный цвет и правильная консистенция.
                </p>
            </div>
            <button type="button" class="card-production-main__btn btn btn_pink">
                <span class="btn__txt">Запросить прайс</span>
            </button>
        </div>
    </div>
    <div class="production-main__card card-production-main card-production-main_reversed">
        <div class="card-production-main__image-wrap">
            <img
                src="./assets/images/products/Remove-bg.ai_1714748480280.webp"
                alt=""
                class="card-production-main__image"
            />
        </div>
        <div class="card-production-main__content">
            <span class="card-production-main__title">Для пирогов</span>
            <div class="card-production-main__text-wrap">
                <p class="card-production-main__text">
                    Универсальная мука высшего сорта – белоснежная, из мягких сортов пшеницы с высоким
                    содержанием клейковины.
                </p>
                <p class="card-production-main__text">
                    Это особенно важно для тех, кто хочет приготовить пироги и пирожки, оладьи, дрожжевые
                    блины для всей семьи.
                </p>
                <p class="card-production-main__text">
                    Превосходно подходит для выпечки по традиционным и праздничным рецептам русской кухни.
                </p>
            </div>
            <button type="button" class="card-production-main__btn btn btn_pink">
                <span class="btn__txt">Запросить прайс</span>
            </button>
        </div>
    </div>
    <div class="production-main__card card-production-main">
        <div class="card-production-main__image-wrap">
            <img
                src="./assets/images/products/Remove-bg.ai_1714748520803.webp"
                alt=""
                class="card-production-main__image"
            />
        </div>
        <div class="card-production-main__content">
            <span class="card-production-main__title">Natural for you Натуральная для тебя</span>
            <div class="card-production-main__text-wrap">
                <p class="card-production-main__text">
                    Мука высокого качества, производится из зерна, выращенного на экологически чистых полях
                    Ставропольского края.
                </p>
                <p class="card-production-main__text">
                    Именно эту муку, бережно перемолотую из органического зерна, используют для дрожжевого,
                    слоеного и песочного теста, а также для супов и кремов, тортов и пирожных.
                </p>
            </div>
            <button type="button" class="card-production-main__btn btn btn_pink">
                <span class="btn__txt">Запросить прайс</span>
            </button>
        </div>
    </div>
</div>
<include src="./components/_add-info-banner.html"></include>
<div class="production-main__group">
    <div class="production-main__card card-production-main">
        <div class="card-production-main__image-wrap">
            <img
                src="./assets/images/products/Remove-bg.ai_1714756265789.webp"
                alt=""
                class="card-production-main__image"
            />
        </div>
        <div class="card-production-main__content">
            <span class="card-production-main__title">Florentini Экстра</span>
            <div class="card-production-main__text-wrap">
                <p class="card-production-main__text">Самая нежная и воздушная.</p>
                <p class="card-production-main__text">
                    Отличается тонким помолом, повышенной белизной и клейковиной. Изготавливается из лучших
                    сортов пшеницы Ставропольского края. Не требует специальных разрыхлителей – достаточно
                    просеять муку через сито.
                </p>
                <p class="card-production-main__text">
                    Прекрасно подходит для итальянской выпечки: от печенья Амаретти и Бискотти, пирогов
                    Кавалуччи и Кростата, легких пышных пирожных Рома и Бомболоне до королевы итальянской
                    выпечки Сфольятелла.
                </p>
            </div>
            <button type="button" class="card-production-main__btn btn btn_pink">
                <span class="btn__txt">Запросить прайс</span>
            </button>
        </div>
    </div>
    <div class="production-main__card card-production-main card-production-main_reversed">
        <div class="card-production-main__image-wrap">
            <img
                src="./assets/images/products/Remove-bg.ai_1714756284603.webp"
                alt=""
                class="card-production-main__image"
            />
        </div>
        <div class="card-production-main__content">
            <span class="card-production-main__title">Florentini Экстра</span>
            <div class="card-production-main__text-wrap">
                <p class="card-production-main__text">
                    Отличается тонким помолом, повышенной белизной и клейковиной.
                </p>
                <p class="card-production-main__text">
                    Прекрасно подходит для итальянской выпечки:  от печенья Амаретти и Бискотти, пирогов
                    Кавалуччи и Кростата, легких пышных пирожных Рома  и Бомболоне до королевы итальянской
                    выпечки Сфольятелла.
                </p>
            </div>
            <button type="button" class="card-production-main__btn btn btn_pink">
                <span class="btn__txt">Запросить прайс</span>
            </button>
        </div>
    </div>
    <div class="production-main__card card-production-main">
        <div class="card-production-main__image-wrap">
            <img
                src="./assets/images/products/Remove-bg.ai_1712308125733.webp"
                alt=""
                class="card-production-main__image"
            />
        </div>
        <div class="card-production-main__content">
            <span class="card-production-main__title">Florentini высший сорт</span>
            <div class="card-production-main__text-wrap">
                <p class="card-production-main__text">
                    Мука премиум-класса, созданная любовью и талантом сотрудников ООО «Агат.
                </p>
                <p class="card-production-main__text">
                    Экологически чистый, полезный продукт, из которого вы получите изделия самого высокого
                    качества с ярким, неповторимым вкусом.
                </p>
                <p class="card-production-main__text">
                    Используется для приготовления вкусной и полезной выпечки, хлеба и булочек, песочного
                    печенья, тортов и множества других блюд.
                </p>
            </div>
            <button type="button" class="card-production-main__btn btn btn_pink">
                <span class="btn__txt">Запросить прайс</span>
            </button>
        </div>
    </div>
</div>
