<section class="news-list">
    <div class="news-list__container container">
        <div class="news-list__tabs">
            <a href="#" class="news-list__tab tab h h_h5"><span class="tab__inner">Новости</span></a>
            <a href="#" class="news-list__tab tab _is-active h h_h5"
                ><span class="tab__inner">Галерея</span></a
            >
        </div>
        <ul class="news-list__cards news-list__cards_gallery">
            <li class="news-list__gallery-card gallery-card-news-list">
                <div class="gallery-card-news-list__image-wrap">
                    <img
                        src="./assets/images/content/AdobeStock_489842234.webp"
                        alt=""
                        class="gallery-card-news-list__image"
                    />
                </div>
            </li>
            <li class="news-list__gallery-card news-list__gallery-card_large gallery-card-news-list">
                <div class="gallery-card-news-list__image-wrap">
                    <video
                        data-videojs
                        poster="./assets/images/bg/AdobeStock_105056622.webp"
                        class="gallery-card-news-list__video"
                    >
                        <source src="./assets/video/sample-video.mp4" type="video/mp4" />
                    </video>
                </div>
            </li>
            <li class="news-list__gallery-card gallery-card-news-list">
                <div class="gallery-card-news-list__image-wrap">
                    <img
                        src="./assets/images/content/7d4a9204b171d1c8add59350a86575ec.webp"
                        alt=""
                        class="gallery-card-news-list__image"
                    />
                </div>
            </li>
            <li class="news-list__gallery-card news-list__gallery-card_large gallery-card-news-list">
                <div class="gallery-card-news-list__image-wrap">
                    <img
                        src="./assets/images/content/AdobeStock_163171260.webp"
                        alt=""
                        class="gallery-card-news-list__image"
                    />
                </div>
            </li>
            <li class="news-list__gallery-card gallery-card-news-list">
                <div class="gallery-card-news-list__image-wrap">
                    <img
                        src="./assets/images/content/scale_12002.webp"
                        alt=""
                        class="gallery-card-news-list__image"
                    />
                </div>
            </li>
            <li class="news-list__gallery-card gallery-card-news-list">
                <div class="gallery-card-news-list__image-wrap">
                    <video
                        data-videojs
                        poster="./assets/images/content/julia-koblitz-WbCZlA0JAfA-unsplash.webp"
                        class="gallery-card-news-list__video"
                    >
                        <source src="./assets/video/sample-video.mp4" type="video/mp4" />
                    </video>
                </div>
            </li>
        </ul>
        <button type="button" class="news-list__btn btn btn_pink">
            <span class="btn__txt">Загрузить ещё</span>
        </button>
    </div>
</section>
