<section class="grid-section">
    <div class="grid-section__container container">
        <span class="grid-section__title h h_h1">Ещё 4 наших элеватора</span>
        <ul class="grid-section__grid">
            <li class="grid-section__item card-complexes">
                <a href="#" class="card-complexes__inner">
                    <div class="card-complexes__content">
                        <span class="card-complexes__title h h_h4">Старомарьевский</span>
                    </div>
                    <div class="card-complexes__image-wrap">
                        <img
                            src="./assets/images/bg/9467aab856188c319fbcd02c80a53224.webp"
                            alt=""
                            class="card-complexes__image"
                        />
                    </div>
                </a>
            </li>
            <li class="grid-section__item card-complexes">
                <a href="#" class="card-complexes__inner">
                    <div class="card-complexes__content">
                        <span class="card-complexes__title h h_h4">Старомарьевский</span>
                    </div>
                    <div class="card-complexes__image-wrap">
                        <img
                            src="./assets/images/bg/3c3bfc9510b5e1541d7c962147a65ecc.webp"
                            alt=""
                            class="card-complexes__image"
                        />
                    </div>
                </a>
            </li>
            <li class="grid-section__item card-complexes">
                <a href="#" class="card-complexes__inner">
                    <div class="card-complexes__content">
                        <span class="card-complexes__title h h_h4">Старомарьевский</span>
                    </div>
                    <div class="card-complexes__image-wrap">
                        <img
                            src="./assets/images/bg/41f84c032191b1d8d5314d9ea3d829a8.webp"
                            alt=""
                            class="card-complexes__image"
                        />
                    </div>
                </a>
            </li>
            <li class="grid-section__item card-complexes">
                <a href="#" class="card-complexes__inner">
                    <div class="card-complexes__content">
                        <span class="card-complexes__title h h_h4">Старомарьевский</span>
                    </div>
                    <div class="card-complexes__image-wrap">
                        <img src="./assets/images/bg/MAX0064.webp" alt="" class="card-complexes__image" />
                    </div>
                </a>
            </li>
        </ul>
    </div>
</section>
