<section class="hero hero_left-align no-margin">
    <div class="hero__container container">
        <span class="hero__title h h_h1">Расширять возможности, сохраняя самое лучшее</span>
        <button type="button" class="hero__btn btn btn_pink">
            <span class="btn__txt">связаться с нами</span>
        </button>
    </div>
    <nav class="hero__nav">
        <a href="#" class="hero__nav-link txt30 txt30_md"><span>О холдинге</span></a>
        <button type="button" class="hero__nav-link activities-btn txt30 txt30_md">
            <span>Направления деятельности</span>
        </button>
        <a href="#" class="hero__nav-link txt30 txt30_md"><span>Продукция</span></a>
        <a href="#" class="hero__nav-link txt30 txt30_md"><span>Пресс-центр</span></a>
        <a href="#" class="hero__nav-link txt30 txt30_md"><span>Экспорт</span></a>
        <a href="#" class="hero__nav-link txt30 txt30_md"><span>Контакты</span></a>
    </nav>
    <div class="hero__bg-wrap">
        <img src="./assets/images/bg/8300bc9f8eb1b866c59fee3c268fdef1.webp" alt="" class="hero__bg" />
    </div>
</section>
