<section class="info-complexes">
    <div class="info-complexes__container container">
        <div class="info-complexes__icon">
            <svg>
                <use href="#mill-svg"></use>
            </svg>
        </div>
        <span class="info-complexes__subtitle info-complexes__subtitle_vertical h h_h4"
            ><span>Хранение, очистка, подработка сельхозпродукции.</span>
            <span>Транспортная доступность: ж/д транспорт и автотранспорт</span>
            <span>Сельхоз культуры: <span class="highlight">пшеница</span></span>
        </span>
    </div>
</section>
