<section class="info-banner">
    <div class="info-banner__container container">
        <span class="info-banner__title h h_h1">Сотрудничаем с НИИ</span>
        <div class="info-banner__text-wrap txt30 txt30_md">
            <p class="info-banner__text">
                Сотрудничаем с Северо-Кавказским ФНАЦ в г. Ставрополь. Используем полигон для испытания
                и разведения новых сортов зерновых культур
            </p>
            <p class="info-banner__text">
                Контролируем сорта (Филиал ФГБУ «Россельхозцентр»  по Ставропольскому краю
            </p>
        </div>
    </div>
</section>
