<section class="laboratory">
    <div class="laboratory__container container">
        <span class="laboratory__title h h_h1">Современная лаборатория</span>
        <div class="laboratory__text-wrap txt30 txt30_md">
            <p class="laboratory__text">
                Оснащена самым современным оборудованием для анализа качественных показателей зерна и муки
            </p>
            <p class="laboratory__text">
                БИК-анализ: точное измерение уровня влажности, белка, золы, сырой клейковины,
                водопоглотительной способности, числа падения, активности альфа-амилазы и повреждения крахмала
            </p>
        </div>
        <div class="laboratory__carousel">
            <button type="button" class="laboratory__nav-btn i-btn i-btn_arr-prev">
                <svg>
                    <use href="#arr-left-svg"></use>
                </svg>
            </button>
            <div class="laboratory__swiper swiper">
                <ul class="laboratory__swiper-wrapper swiper-wrapper">
                    <li class="laboratory__slide slide-laboratory swiper-slide">
                        <div class="slide-laboratory__image-wrap">
                            <img
                                src="./assets/images/content/d806d88dd9365d102df9f1478239c2d8.webp"
                                alt=""
                                class="slide-laboratory__image"
                            />
                        </div>
                    </li>
                    <li class="laboratory__slide slide-laboratory swiper-slide">
                        <div class="slide-laboratory__image-wrap">
                            <img
                                src="./assets/images/content/cb48c605102e898828a76e41d7581263.webp"
                                alt=""
                                class="slide-laboratory__image"
                            />
                        </div>
                    </li>
                    <li class="laboratory__slide slide-laboratory swiper-slide">
                        <div class="slide-laboratory__image-wrap">
                            <img
                                src="./assets/images/content/d806d88dd9365d102df9f1478239c2d8.webp"
                                alt=""
                                class="slide-laboratory__image"
                            />
                        </div>
                    </li>
                    <li class="laboratory__slide slide-laboratory swiper-slide">
                        <div class="slide-laboratory__image-wrap">
                            <img
                                src="./assets/images/content/cb48c605102e898828a76e41d7581263.webp"
                                alt=""
                                class="slide-laboratory__image"
                            />
                        </div>
                    </li>
                </ul>
            </div>
            <button type="button" class="laboratory__nav-btn i-btn i-btn_arr-next">
                <svg>
                    <use href="#arr-right-svg"></use>
                </svg>
            </button>
            <div class="laboratory__pagination swiper-bullets"></div>
        </div>
    </div>
</section>
