<section class="livestock-numbers">
    <div class="livestock-numbers__container container">
        <ul class="livestock-numbers__cards">
            <li class="livestock-numbers__card card-livestock-numbers">
                <div class="card-livestock-numbers__inner">
                    <div class="card-livestock-numbers__content">
                        <span class="card-livestock-numbers__title num-txt">> 1000</span>
                        <span class="card-livestock-numbers__subtitle h h_h5">голов</span>
                    </div>
                    <div class="card-livestock-numbers__image-wrap">
                        <img
                            src="./assets/images/bg/megumi-nachev-8rVSeXEJG1g-unsplash.webp"
                            alt=""
                            class="card-livestock-numbers__image"
                        />
                    </div>
                </div>
            </li>
            <li class="livestock-numbers__card card-livestock-numbers">
                <div class="card-livestock-numbers__inner">
                    <div class="card-livestock-numbers__content">
                        <span class="card-livestock-numbers__title num-txt">> 500</span>
                        <span class="card-livestock-numbers__subtitle h h_h5">дойное стадо</span>
                    </div>
                    <div class="card-livestock-numbers__image-wrap">
                        <img
                            src="./assets/images/bg/IMG_2066.webp"
                            alt=""
                            class="card-livestock-numbers__image"
                        />
                    </div>
                </div>
            </li>
            <li class="livestock-numbers__card livestock-numbers__card_large card-livestock-numbers">
                <div class="card-livestock-numbers__inner">
                    <div class="card-livestock-numbers__content">
                        <span class="card-livestock-numbers__title num-txt">Удои > 5 тонн в день</span>
                        <span class="card-livestock-numbers__subtitle h h_h5">жирность 4–6%</span>
                    </div>
                    <div class="card-livestock-numbers__image-wrap">
                        <img
                            src="./assets/images/bg/dfc752dd0fd757a7acfc7edf3e18489e.webp"
                            alt=""
                            class="card-livestock-numbers__image"
                        />
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>
