<section class="main-info">
    <div class="main-info__container container">
        <div class="main-info__text-content">
            <span class="main-info__title h h_h2"
                >АГАТ - одна из крупнейших аграрных компаний юга России</span
            >
            <p class="main-info__text txt30 txt30_md">
                Ежегодно наращиваем объемы и расширяем географию экспорта Ежегодно наращиваем объемы и
                расширяем географию экспорта
            </p>
        </div>
    </div>
    <div class="main-info__image-wrap">
        <img src="./assets/images/bg/386740784d137ffcc8685b8d07308cf3.webp" alt="" class="main-info__image" />
    </div>
</section>
