<section class="managers">
    <div class="managers__container container">
        <div class="managers__row color_white">
            <div class="managers__content">
                <span class="managers__title h h_h3">Багомедов Исабек Арсланбекович</span>
                <span class="managers__subtitle txt20 txt20_md">Директор ООО «Ставэкспорт»</span>
                <ul class="managers__list">
                    <li class="managers__list-item list-i-item">
                        <div class="list-i-item__icon">
                            <svg viewBox="0 0 40 40">
                                <g clip-path="url(#clip0_2581_8771)">
                                    <path
                                        d="M29.3553 21.4133L39.797 31.855L34.512 37.14C33.5909 38.0573 32.4967 38.7825 31.2931 39.2734C30.0894 39.7644 28.8002 40.0114 27.5003 40C15.4203 40 0.000325169 24.58 0.000325169 12.5C-0.010247 11.2 0.237078 9.91075 0.727991 8.70692C1.2189 7.5031 1.94366 6.40857 2.86033 5.48667L8.14532 0.203333L18.587 10.645L11.712 17.52C13.7559 22.3771 17.6146 26.2449 22.467 28.3L29.3553 21.4133ZM36.667 16.6667H40.0003C39.9955 12.2479 38.238 8.01147 35.1134 4.88691C31.9889 1.76236 27.7524 0.00485266 23.3337 0V3.33333C26.8687 3.3373 30.2577 4.74334 32.7574 7.24296C35.257 9.74259 36.663 13.1317 36.667 16.6667ZM30.0003 16.6667H33.3337C33.331 14.0153 32.2766 11.4733 30.4018 9.59852C28.527 7.72373 25.985 6.66931 23.3337 6.66667V10C25.1018 10 26.7975 10.7024 28.0477 11.9526C29.2979 13.2029 30.0003 14.8986 30.0003 16.6667Z"
                                        fill="url(#paint0_linear_2581_8771)"
                                    />
                                </g>
                                <defs>
                                    <linearGradient
                                        id="paint0_linear_2581_8771"
                                        x1="44.0004"
                                        y1="20.0002"
                                        x2="-2.29447"
                                        y2="25.2686"
                                        gradientUnits="userSpaceOnUse"
                                    >
                                        <stop offset="0.0209443" stop-color="#B1934E" />
                                        <stop offset="0.371432" stop-color="#F2D790" />
                                        <stop offset="0.973699" stop-color="#B1934E" />
                                    </linearGradient>
                                    <clipPath id="clip0_2581_8771">
                                        <rect width="40" height="40" fill="white" />
                                    </clipPath>
                                </defs>
                            </svg>
                        </div>
                        <div class="list-i-item__text txt30 txt30_md">
                            <a href="tel:8655971248" class="list-i-item__text-content"
                                ><span>Телефон:</span>(86559) 7–12–48</a
                            >
                        </div>
                    </li>
                    <li class="managers__list-item list-i-item">
                        <div class="list-i-item__icon">
                            <svg viewBox="0 0 40 40">
                                <g>
                                    <g clip-path="url(#clip0_2581_8776)">
                                        <path
                                            d="M16.4616 20.9103C17.4009 21.8458 18.6726 22.3711 19.9983 22.3711C21.324 22.3711 22.5957 21.8458 23.5349 20.9103L39.6333 4.81033C39.2627 3.88362 38.6232 3.08903 37.7972 2.52884C36.9711 1.96865 35.9963 1.66849 34.9983 1.66699H4.99828C4.00021 1.66849 3.02543 1.96865 2.1994 2.52884C1.37337 3.08903 0.733896 3.88362 0.363281 4.81033L16.4616 20.9103Z"
                                            fill="url(#paint0_linear_2581_8776)"
                                        />
                                        <path
                                            d="M25.8933 23.267C24.329 24.8274 22.2096 25.7037 20 25.7037C17.7904 25.7037 15.671 24.8274 14.1067 23.267L0 9.16699V38.3337H40V9.16699L25.8933 23.267Z"
                                            fill="url(#paint1_linear_2581_8776)"
                                        />
                                    </g>
                                    <defs>
                                        <linearGradient
                                            id="paint0_linear_2581_8776"
                                            x1="43.5603"
                                            y1="12.019"
                                            x2="-0.428413"
                                            y2="21.514"
                                            gradientUnits="userSpaceOnUse"
                                        >
                                            <stop offset="0.0209443" stop-color="#B1934E" />
                                            <stop offset="0.371432" stop-color="#F2D790" />
                                            <stop offset="0.973699" stop-color="#B1934E" />
                                        </linearGradient>
                                        <linearGradient
                                            id="paint1_linear_2581_8776"
                                            x1="44"
                                            y1="23.7503"
                                            x2="-1.77891"
                                            y2="30.8951"
                                            gradientUnits="userSpaceOnUse"
                                        >
                                            <stop offset="0.0209443" stop-color="#B1934E" />
                                            <stop offset="0.371432" stop-color="#F2D790" />
                                            <stop offset="0.973699" stop-color="#B1934E" />
                                        </linearGradient>
                                        <clipPath id="clip0_2581_8776">
                                            <rect width="40" height="40" fill="white" />
                                        </clipPath>
                                    </defs>
                                </g>
                            </svg>
                        </div>
                        <div class="list-i-item__text txt30 txt30_md">
                            <a href="mailto:export013@yandex.ru" class="list-i-item__text-content"
                                ><span>Почта:</span>export013@yandex.ru</a
                            >
                        </div>
                    </li>
                </ul>
            </div>
            <div class="managers__image-wrap">
                <img
                    src="./assets/images/content/04a6f92eda4a426d175dee14ff64ca68.webp"
                    alt=""
                    class="managers__image"
                />
            </div>
        </div>
        <div class="managers__row managers__row_reversed">
            <div class="managers__content">
                <span class="managers__title h h_h3">Гасайниев Магомедрасул Магомедсаидови</span>
                <span class="managers__subtitle txt20 txt20_md">Руководитель экспортного направления</span>
                <ul class="managers__list">
                    <li class="managers__list-item list-i-item">
                        <div class="list-i-item__icon">
                            <svg>
                                <use href="#phone-svg"></use>
                            </svg>
                        </div>
                        <div class="list-i-item__text txt30 txt30_md">
                            <a href="tel:8655971248" class="list-i-item__text-content"
                                ><span>Телефон:</span>(86559) 7–12–48</a
                            >
                        </div>
                    </li>
                    <li class="managers__list-item list-i-item">
                        <div class="list-i-item__icon">
                            <svg>
                                <use href="#letter-svg"></use>
                            </svg>
                        </div>
                        <div class="list-i-item__text txt30 txt30_md">
                            <a href="mailto:export013@yandex.ru" class="list-i-item__text-content"
                                ><span>Почта:</span>export013@yandex.ru</a
                            >
                        </div>
                    </li>
                </ul>
            </div>
            <div class="managers__image-wrap">
                <img
                    src="./assets/images/content/1c99cdfa827abe3bf747e73242675fe0.webp"
                    alt=""
                    class="managers__image"
                />
            </div>
        </div>
    </div>
</section>
