<div class="mills-banner">
    <div class="mills-banner__container container">
        <div class="mills-banner__content">
            <span class="mills-banner__title h h_h2">Агатовские мельницы</span>
            <div class="mills-banner__text-wrap txt30 txt30_md">
                <p class="mills-banner__text">Флагманский продукт компании.</p>
                <p class="mills-banner__text">
                    Наиболее специализированная линейка нашей муки, где для каждого изделия подобран особый
                    состав муки для получения превосходного результата
                </p>
                <p class="mills-banner__text">
                    Упаковка муки АГАТОВСКИЕ МЕЛЬНИЦЫ инновационная, интересная, вызывает ассоциации с теплом,
                    домом, уютом, семьей, хорошим качеством жизни, внутренней гармонией, мечтами, красотой
                    мира, заботой о семье, детях.
                </p>
            </div>
        </div>
        <div class="mills-banner__image-wrap">
            <img
                src="./assets/images/content/97df9daa8ff4bbd0e1d06a217db9847d.webp"
                alt=""
                class="mills-banner__image"
            />
        </div>
    </div>
</div>
