<section class="mission">
    <div class="mission__group">
        <div class="mission__content">
            <span class="mission__title h h_h1">Наша миссия</span>
            <p class="mission__text h h_h4">
                Произвести и донести натуральный качественный продукт до каждого потребителя
            </p>
        </div>
        <div class="mission__image-wrap">
            <img src="./assets/images/content/7H1A2297-2.webp" alt="" class="mission__image" />
        </div>
    </div>
    <div class="mission__group">
        <div class="mission__image-wrap">
            <img src="./assets/images/content/7H1A2315-2.webp" alt="" class="mission__image" />
        </div>
        <div class="mission__content">
            <p class="mission__text h h_h4">
                Превращать сельскохозяйственные культуры в продукты, которые удовлетворяют жизненно важные
                потребности растущего населения нашей страны и мира
            </p>
        </div>
    </div>
</section>
