<section class="news">
    <div class="news__container container">
        <span class="news__title h h_h1">Новости</span>
        <div class="news__carousel">
            <button type="button" class="news__nav-btn i-btn i-btn_arr-prev">
                <svg>
                    <use href="#arr-left-svg"></use>
                </svg>
            </button>
            <div class="news__swiper swiper">
                <ul class="news__swiper-wrapper swiper-wrapper">
                    <li class="news__slide card-news swiper-slide">
                        <a href="#" class="card-news__inner">
                            <div class="card-news__content">
                                <span class="card-news__title">Как приготовить домашнюю лапшу</span>
                                <time datetime="2024-02-21" class="card-news__date">21.02.2024</time>
                            </div>
                            <div class="card-news__bg-wrap">
                                <img
                                    src="./assets/images/bg/48d04793579a630b2796ba03c41a092a.webp"
                                    alt=""
                                    class="card-news__bg"
                                />
                            </div>
                        </a>
                    </li>
                    <li class="news__slide card-news swiper-slide">
                        <a href="#" class="card-news__inner">
                            <div class="card-news__content">
                                <span class="card-news__title">Как приготовить домашнюю лапшу</span>
                                <time datetime="2024-02-21" class="card-news__date">21.02.2024</time>
                            </div>
                            <div class="card-news__bg-wrap">
                                <img
                                    src="./assets/images/bg/48d04793579a630b2796ba03c41a092a.webp"
                                    alt=""
                                    class="card-news__bg"
                                />
                            </div>
                        </a>
                    </li>
                    <li class="news__slide card-news swiper-slide">
                        <a href="#" class="card-news__inner">
                            <div class="card-news__content">
                                <span class="card-news__title">Как приготовить домашнюю лапшу</span>
                                <time datetime="2024-02-21" class="card-news__date">21.02.2024</time>
                            </div>
                            <div class="card-news__bg-wrap">
                                <img
                                    src="./assets/images/bg/48d04793579a630b2796ba03c41a092a.webp"
                                    alt=""
                                    class="card-news__bg"
                                />
                            </div>
                        </a>
                    </li>
                    <li class="news__slide card-news swiper-slide">
                        <a href="#" class="card-news__inner">
                            <div class="card-news__content">
                                <span class="card-news__title">Как приготовить домашнюю лапшу</span>
                                <time datetime="2024-02-21" class="card-news__date">21.02.2024</time>
                            </div>
                            <div class="card-news__bg-wrap">
                                <img
                                    src="./assets/images/bg/48d04793579a630b2796ba03c41a092a.webp"
                                    alt=""
                                    class="card-news__bg"
                                />
                            </div>
                        </a>
                    </li>
                    <li class="news__slide card-news swiper-slide">
                        <a href="#" class="card-news__inner">
                            <div class="card-news__content">
                                <span class="card-news__title">Как приготовить домашнюю лапшу</span>
                                <time datetime="2024-02-21" class="card-news__date">21.02.2024</time>
                            </div>
                            <div class="card-news__bg-wrap">
                                <img
                                    src="./assets/images/bg/48d04793579a630b2796ba03c41a092a.webp"
                                    alt=""
                                    class="card-news__bg"
                                />
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
            <button type="button" class="news__nav-btn i-btn i-btn_arr-next">
                <svg>
                    <use href="#arr-right-svg"></use>
                </svg>
            </button>
            <div class="news__pagination swiper-bullets"></div>
        </div>
    </div>
</section>
