<section class="news-chapter">
    <div class="news-chapter__container container">
        <span class="news-chapter__title h h_h3"
            >Московские школьники проводят свои первые научные исследования на агропредприятиях «Продимекс»
            в Курской области</span
        >
        <time datetime="2024-02-21" class="news-chapter__date">21.02.2024</time>
        <div class="news-chapter__text-wrap txt30 txt30_md">
            <p class="news-chapter__text">
                «Продимекс» продолжает уделять большое внимание образовательным проектам и поддерживать
                не только студентов профильных вузов, но и талантливых школьников, которые интересуются
                сельским хозяйством и планируют построить свою карьеру в АПК России.
            </p>
            <p class="news-chapter__text">
                Второй год подряд московские школьники, увлечённые аграрной наукой, получают бесценный опыт
                в полях агропредприятий ГК «Продимекс». В этом сезоне в рамках своих научных исследований
                ребята с помощью специалистов компании заложили опытные участки в трёх филиалах компании
                «Курск Агро». Каждый из учеников общеобразовательной школы № 1748 смог заложить собственный
                проект для изучения. В одних опытах ребята будут исследовать влияние удобрений на урожайность
                и дигестию сахарной свёклы, а также сравнивать различные нормы высева сахарной свёклы.
                В других — оценивать развитие зерновых культур после внесения удобрений.
            </p>
        </div>
        <div class="news-chapter__carousel">
            <button type="button" class="news-chapter__nav-btn i-btn i-btn_arr-prev">
                <svg>
                    <use href="#arr-left-svg"></use>
                </svg>
            </button>
            <div class="news-chapter__swiper swiper">
                <ul class="news-chapter__swiper-wrapper swiper-wrapper">
                    <li class="news-chapter__slide slide-news-chapter swiper-slide">
                        <div class="slide-news-chapter__image-wrap">
                            <img
                                src="./assets/images/bg/48d04793579a630b2796ba03c41a092a.webp"
                                alt=""
                                class="slide-news-chapter__image"
                            />
                        </div>
                    </li>
                    <li class="news-chapter__slide slide-news-chapter swiper-slide">
                        <div class="slide-news-chapter__image-wrap">
                            <img
                                src="./assets/images/bg/48d04793579a630b2796ba03c41a092a.webp"
                                alt=""
                                class="slide-news-chapter__image"
                            />
                        </div>
                    </li>
                    <li class="news-chapter__slide slide-news-chapter swiper-slide">
                        <div class="slide-news-chapter__image-wrap">
                            <img
                                src="./assets/images/bg/48d04793579a630b2796ba03c41a092a.webp"
                                alt=""
                                class="slide-news-chapter__image"
                            />
                        </div>
                    </li>
                </ul>
            </div>
            <button type="button" class="news-chapter__nav-btn i-btn i-btn_arr-next">
                <svg>
                    <use href="#arr-right-svg"></use>
                </svg>
            </button>

            <div class="news-chapter__pagination swiper-bullets"></div>
        </div>
        <div class="news-chapter__text-wrap txt30 txt30_md">
            <p class="news-chapter__text">
                Специалисты агрохозяйств «Продимекс» поддерживали школьников и делились опытом на каждом этапе
                работ. Юные исследователям подробно рассказывали о механизмах агрономических процессов.
                В течение всего сельскохозяйственного сезона ребята будут наблюдать за своими опытными
                площадками. А итоговые работы будут использованы для подготовки новых самостоятельных
                проектов, которые учащиеся делают в рамках научно-технического конкурса «Открытый мир. Старт
                в науку», проходящего в РГАУ-МСХА им. К.А. Тимирязева.
            </p>
        </div>
        <div class="news-chapter__highlight-section highlight-section">
            Желаем юным аграриям успехов в исследованиях и уверены, что они станут в будущем отличными
            профессионалами!
        </div>
        <div class="news-chapter__list-wrap">
            <div class="news-chapter__text-wrap txt30 txt30_md">
                <p class="news-chapter__text">
                    Работу над такими серьёзными исследованиями невозможно было бы осуществить без помощи
                    опытных специалистов, которые работают в агрохозяйствах «Продимекс» в Курской области.
                    Ребята выражают благодарность генеральному директору компании «Курск Агро» Игорю Овчарову
                    и его заместителю Олегу Столярову. Также юные аграрии рады, что на опытных полях
                    им помогали успешные профессионалы своего дела, среди них:
                </p>
            </div>
            <ul class="news-chapter__list">
                <li class="news-chapter__list-item list-item-def txt30 txt30_md">
                    директор филиала «Фатежский» Олег Смирнов
                </li>
                <li class="news-chapter__list-item list-item-def txt30 txt30_md">
                    заместитель Михаил Молчанов
                </li>
                <li class="news-chapter__list-item list-item-def txt30 txt30_md">
                    главный агроном Максим Рудов
                </li>
                <li class="news-chapter__list-item list-item-def txt30 txt30_md">
                    директор филиала «Черемисиновский» Геннадий Гоков
                </li>
                <li class="news-chapter__list-item list-item-def txt30 txt30_md">
                    главный агроном Юрий Болтинов
                </li>
                <li class="news-chapter__list-item list-item-def txt30 txt30_md">
                    директор филиала «Золотухинский» Олег Очкасов
                </li>
                <li class="news-chapter__list-item list-item-def txt30 txt30_md">
                    заместитель Александр Потаскаев
                </li>
            </ul>
        </div>
        <a href="#" class="news-chapter__btn btn btn_pink">
            <span class="btn__txt">все новости</span>
        </a>
    </div>
</section>
