<section class="news-list">
    <div class="news-list__container container">
        <div class="news-list__tabs">
            <a href="#" class="news-list__tab tab _is-active h h_h5"
                ><span class="tab__inner">Новости</span></a
            >
            <a href="#" class="news-list__tab tab h h_h5"><span class="tab__inner">Галерея</span></a>
        </div>
        <ul class="news-list__cards">
            <li class="news-list__card news-list__card_large card-news">
                <a href="#" class="card-news__inner">
                    <div class="card-news__content">
                        <span class="card-news__title">Как приготовить домашнюю лапшу</span>
                        <time datetime="2024-02-21" class="card-news__date">21.02.2024</time>
                    </div>
                    <div class="card-news__bg-wrap">
                        <img
                            src="./assets/images/bg/48d04793579a630b2796ba03c41a092a.webp"
                            alt=""
                            class="card-news__bg"
                        />
                    </div>
                </a>
            </li>
            <li class="news-list__card card-news">
                <a href="#" class="card-news__inner">
                    <div class="card-news__content">
                        <span class="card-news__title">Как приготовить домашнюю лапшу</span>
                        <time datetime="2024-02-21" class="card-news__date">21.02.2024</time>
                    </div>
                    <div class="card-news__bg-wrap">
                        <img
                            src="./assets/images/bg/48d04793579a630b2796ba03c41a092a.webp"
                            alt=""
                            class="card-news__bg"
                        />
                    </div>
                </a>
            </li>
            <li class="news-list__card card-news">
                <a href="#" class="card-news__inner">
                    <div class="card-news__content">
                        <span class="card-news__title">Как приготовить домашнюю лапшу</span>
                        <time datetime="2024-02-21" class="card-news__date">21.02.2024</time>
                    </div>
                    <div class="card-news__bg-wrap">
                        <img
                            src="./assets/images/bg/48d04793579a630b2796ba03c41a092a.webp"
                            alt=""
                            class="card-news__bg"
                        />
                    </div>
                </a>
            </li>
            <li class="news-list__card card-news">
                <a href="#" class="card-news__inner">
                    <div class="card-news__content">
                        <span class="card-news__title">Как приготовить домашнюю лапшу</span>
                        <time datetime="2024-02-21" class="card-news__date">21.02.2024</time>
                    </div>
                    <div class="card-news__bg-wrap">
                        <img
                            src="./assets/images/bg/48d04793579a630b2796ba03c41a092a.webp"
                            alt=""
                            class="card-news__bg"
                        />
                    </div>
                </a>
            </li>
            <li class="news-list__card card-news">
                <a href="#" class="card-news__inner">
                    <div class="card-news__content">
                        <span class="card-news__title">Как приготовить домашнюю лапшу</span>
                        <time datetime="2024-02-21" class="card-news__date">21.02.2024</time>
                    </div>
                    <div class="card-news__bg-wrap">
                        <img
                            src="./assets/images/bg/48d04793579a630b2796ba03c41a092a.webp"
                            alt=""
                            class="card-news__bg"
                        />
                    </div>
                </a>
            </li>
            <li class="news-list__card card-news">
                <a href="#" class="card-news__inner">
                    <div class="card-news__content">
                        <span class="card-news__title">Как приготовить домашнюю лапшу</span>
                        <time datetime="2024-02-21" class="card-news__date">21.02.2024</time>
                    </div>
                    <div class="card-news__bg-wrap">
                        <img
                            src="./assets/images/bg/48d04793579a630b2796ba03c41a092a.webp"
                            alt=""
                            class="card-news__bg"
                        />
                    </div>
                </a>
            </li>
            <li class="news-list__card news-list__card_large card-news">
                <a href="#" class="card-news__inner">
                    <div class="card-news__content">
                        <span class="card-news__title">Как приготовить домашнюю лапшу</span>
                        <time datetime="2024-02-21" class="card-news__date">21.02.2024</time>
                    </div>
                    <div class="card-news__bg-wrap">
                        <img
                            src="./assets/images/bg/48d04793579a630b2796ba03c41a092a.webp"
                            alt=""
                            class="card-news__bg"
                        />
                    </div>
                </a>
            </li>
        </ul>
        <button type="button" class="news-list__btn btn btn_pink">
            <span class="btn__txt">Загрузить ещё</span>
        </button>
    </div>
</section>
