<section class="news">
    <div class="news__container container">
        <span class="news__title h h_h1">Новости</span>
        <div class="news__carousel">
            <button type="button" class="news__nav-btn i-btn i-btn_arr-prev">
                <svg>
                    <use href="#arr-left-svg"></use>
                </svg>
            </button>
            <div class="news__swiper swiper">
                <ul class="news__swiper-wrapper swiper-wrapper">
                    <li class="news__slide card-news swiper-slide">
                        <a href="#" class="card-news__inner">
                            <div class="card-news__content">
                                <span class="card-news__title">АГАТ расширяет возможности</span>
                                <time datetime="2023-09-08" class="card-news__date">08.09.2023</time>
                            </div>
                            <div class="card-news__bg-wrap">
                                <img
                                    src="./assets/images/content/2797450f43e2976cb5ed5dd058934456.webp"
                                    alt=""
                                    class="card-news__bg"
                                />
                            </div>
                        </a>
                    </li>
                    <li class="news__slide card-news swiper-slide">
                        <a href="#" class="card-news__inner">
                            <div class="card-news__content">
                                <span class="card-news__title">Как испечь вкусный хлеб</span>
                                <time datetime="2024-02-21" class="card-news__date">21.02.2024</time>
                            </div>
                            <div class="card-news__bg-wrap">
                                <img
                                    src="./assets/images/content/5ccb4cd9f44017967050a7e04a9b3bb7.webp"
                                    alt=""
                                    class="card-news__bg"
                                />
                            </div>
                        </a>
                    </li>
                    <li class="news__slide card-news swiper-slide">
                        <a href="#" class="card-news__inner">
                            <div class="card-news__content">
                                <span class="card-news__title">Секрет успеха АГАТ</span>
                                <time datetime="2024-02-21" class="card-news__date">21.02.2024</time>
                            </div>
                            <div class="card-news__bg-wrap">
                                <img
                                    src="./assets/images/content/1c40af60be753c2ab6813c9f366d908f.webp"
                                    alt=""
                                    class="card-news__bg"
                                />
                            </div>
                        </a>
                    </li>
                    <li class="news__slide card-news swiper-slide">
                        <a href="#" class="card-news__inner">
                            <div class="card-news__content">
                                <span class="card-news__title">АГАТ расширяет возможности</span>
                                <time datetime="2023-09-08" class="card-news__date">08.09.2023</time>
                            </div>
                            <div class="card-news__bg-wrap">
                                <img
                                    src="./assets/images/content/2797450f43e2976cb5ed5dd058934456.webp"
                                    alt=""
                                    class="card-news__bg"
                                />
                            </div>
                        </a>
                    </li>
                    <li class="news__slide card-news swiper-slide">
                        <a href="#" class="card-news__inner">
                            <div class="card-news__content">
                                <span class="card-news__title">Как испечь вкусный хлеб</span>
                                <time datetime="2024-02-21" class="card-news__date">21.02.2024</time>
                            </div>
                            <div class="card-news__bg-wrap">
                                <img
                                    src="./assets/images/content/5ccb4cd9f44017967050a7e04a9b3bb7.webp"
                                    alt=""
                                    class="card-news__bg"
                                />
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
            <button type="button" class="news__nav-btn i-btn i-btn_arr-next">
                <svg>
                    <use href="#arr-right-svg"></use>
                </svg>
            </button>
            <div class="news__pagination swiper-bullets"></div>
        </div>
    </div>
</section>
