<section class="partners">
    <div class="partners__container container">
        <span class="partners__title h h_h1">Наши партнёры</span>
        <p class="partners__text txt30 txt30_md">
            <span>Нам важны отношения, основанные на доверии, взаимопомощи и ответственности.</span>
            <span>Мы доверяем нашим партнёрам и нацелены на конструктивный диалог.</span>
            <span>Мы стремимся к тому, чтобы покупатели доверяли нам и нашему продукту.</span>
        </p>
        <div class="partners__carousel">
            <button type="button" class="partners__nav-btn i-btn i-btn_arr-prev">
                <svg>
                    <use href="#arr-left-svg"></use>
                </svg>
            </button>
            <div class="partners__swiper swiper">
                <div class="partners__group swiper-wrapper">
                    <a href="#" class="partners__item item-partners swiper-slide">
                        <div class="item-partners__image-wrap">
                            <img
                                src="./assets/images/logos/agatovskie-melnitsy.svg"
                                alt=""
                                class="item-partners__image"
                            />
                        </div>
                    </a>
                    <a href="#" class="partners__item item-partners swiper-slide">
                        <div class="item-partners__image-wrap">
                            <img
                                src="./assets/images/logos/florentini.svg"
                                alt=""
                                class="item-partners__image"
                            />
                        </div>
                    </a>
                    <a href="#" class="partners__item item-partners swiper-slide">
                        <div class="item-partners__image-wrap">
                            <img
                                src="./assets/images/logos/agatovskie-melnitsy.svg"
                                alt=""
                                class="item-partners__image"
                            />
                        </div>
                    </a>
                    <a href="#" class="partners__item item-partners swiper-slide">
                        <div class="item-partners__image-wrap">
                            <img
                                src="./assets/images/logos/florentini.svg"
                                alt=""
                                class="item-partners__image"
                            />
                        </div>
                    </a>
                    <a href="#" class="partners__item item-partners swiper-slide">
                        <div class="item-partners__image-wrap">
                            <img
                                src="./assets/images/logos/florentini.svg"
                                alt=""
                                class="item-partners__image"
                            />
                        </div>
                    </a>
                </div>
            </div>
            <button type="button" class="partners__nav-btn i-btn i-btn_arr-next">
                <svg>
                    <use href="#arr-right-svg"></use>
                </svg>
            </button>
            <div class="partners__pagination swiper-bullets"></div>
        </div>
    </div>
</section>
