<section class="plants-info">
    <div class="plants-info__main">
        <div class="plants-info__container container">
            <span class="plants-info__title h h_h1">Семеноводство <span>СПК</span> Владимировский</span>
            <p class="plants-info__text h h_h4">
                Хозяйство успешно занимаются семеноводством зерновых культур: оригинальных семян, сортов элит
                и суперэлита
            </p>
            <div class="plants-info__list-wrap swiper">
                <ul class="plants-info__list swiper-wrapper">
                    <li class="plants-info__list-item swiper-slide">
                        <span class="plants-info__list-item-txt h h_h5">Территория 50 тысяч Га</span>
                    </li>
                    <li class="plants-info__list-item swiper-slide">
                        <span class="plants-info__list-item-txt h h_h5">Оригинальные семена</span>
                    </li>
                    <li class="plants-info__list-item swiper-slide">
                        <span class="plants-info__list-item-txt h h_h5"
                            >Контроль и гарантия качества сортов</span
                        >
                    </li>
                </ul>
            </div>
            <div class="plants-info__pagination swiper-bullets"></div>
        </div>
        <div class="plants-info__bg-wrap">
            <img
                src="./assets/images/bg/a0b5de7ea8a637e1d6454463f7defd90.webp"
                alt=""
                class="plants-info__bg"
            />
        </div>
    </div>
    <div class="plants-info__cards">
        <div class="plants-info__container container">
            <span class="plants-info__subtitle h h_h4"
                >Сорта районированы, приспособлены к местному климату</span
            >
            <ul class="plants-info__cards-list">
                <li class="plants-info__card card-plants-info">
                    <div class="card-plants-info__inner">
                        <div class="card-plants-info__content">
                            <span class="card-plants-info__title num-txt">7 сортов</span>
                            <span class="card-plants-info__subtitle h h_h5"
                                >Семена Ставропольской селекции</span
                            >
                        </div>
                        <div class="card-plants-info__bg-wrap">
                            <img
                                src="./assets/images/bg/08ebdcd6be0758695fea9f03f35730b3.webp"
                                alt=""
                                class="card-plants-info__bg"
                            />
                        </div>
                    </div>
                </li>
                <li class="plants-info__card card-plants-info">
                    <div class="card-plants-info__inner">
                        <div class="card-plants-info__content">
                            <span class="card-plants-info__title num-txt">4 сорта</span>
                            <span class="card-plants-info__subtitle h h_h5"
                                >Семена Зерноградской селекции</span
                            >
                        </div>
                        <div class="card-plants-info__bg-wrap">
                            <img
                                src="./assets/images/bg/alan-godfrey-IyKOG0l5uAY-unsplash.webp"
                                alt=""
                                class="card-plants-info__bg"
                            />
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>
