<section class="principles">
    <div class="principles__container container">
        <span class="principles__title h h_h1">Принципы работы компании</span>
        <ul class="principles__list">
            <li class="principles__item item-principles">
                <div class="item-principles__icon">
                    <svg>
                        <use href="#wheat-svg"></use>
                    </svg>
                </div>
                <span class="item-principles__title">Честный подход к каждому</span>
            </li>
            <li class="principles__item item-principles">
                <div class="item-principles__icon">
                    <svg>
                        <use href="#wheat-svg"></use>
                    </svg>
                </div>
                <span class="item-principles__title">Честный подход к каждому</span>
            </li>
            <li class="principles__item item-principles">
                <div class="item-principles__icon">
                    <svg>
                        <use href="#wheat-svg"></use>
                    </svg>
                </div>
                <span class="item-principles__title">Честный подход к каждому</span>
            </li>
            <li class="principles__item item-principles">
                <div class="item-principles__icon">
                    <svg>
                        <use href="#wheat-svg"></use>
                    </svg>
                </div>
                <span class="item-principles__title">Честный подход к каждому</span>
            </li>
        </ul>
    </div>
</section>
