<section class="production-main">
    <div class="production-main__head">
        <div class="production-main__container container">
            <span class="production-main__title h h_h1">Продукция</span>
            <span class="production-main__subtitle txt30 txt30_md"
                >Конечные цены зависят от объёма и страны экспорта. Оставьте заявку, чтобы узнать точные
                цены</span
            >
            <div class="production-main__tabs">
                <button type="button" class="production-main__tab tab txt30">
                    <span class="tab__inner">Мука в мешках 25кг, 50 кг</span>
                </button>
                <button type="button" class="production-main__tab tab txt30">
                    <span class="tab__inner">Мука в пакетах 1кг, 2кг</span>
                </button>
                <button type="button" class="production-main__tab tab txt30 _is-active">
                    <span class="tab__inner">Отруби</span>
                </button>
            </div>
        </div>
    </div>
    <div class="production-main__content">
        <section class="info-complexes info-complexes_wheat">
            <div class="info-complexes__container container">
                <div class="info-complexes__icon info-complexes__icon_wheat">
                    <svg>
                        <use href="#wheat-svg-2"></use>
                    </svg>
                </div>
                <span class="info-complexes__subtitle h h_h4"
                    ><span>Пшеничные отруби являются хорошим кормом для всех видов животных.</span>
                    <span>Фасовка осуществляется как в мешках, так и насыпью</span>
                </span>
            </div>
        </section>
        <div class="production-main__products">
            <include src="./components/_flour-products-bran.html"></include>
        </div>
    </div>
</section>
