<section class="production">
    <div class="production__container container">
        <div class="production__content">
            <span class="production__title h h_h1">Наша продукция</span>
            <span class="production__subtitle h h_h3">Мука соответствует ГОСТ 26574–2017</span>
            <ul class="production__list">
                <li class="production__list-item list-item-def txt30 txt30_md">Сорт высший</li>
                <li class="production__list-item list-item-def txt30 txt30_md">Белизна 60 ед</li>
                <li class="production__list-item list-item-def txt30 txt30_md">Клейковина 28%</li>
                <li class="production__list-item list-item-def txt30 txt30_md">Зольность 0,55</li>
                <li class="production__list-item list-item-def txt30 txt30_md">
                    Упаковка мешки 50 кг, 45 кг, 25 кг
                </li>
                <li class="production__list-item list-item-def txt30 txt30_md">
                    Розничная упаковка 1, 2 и 5 кг
                </li>
            </ul>
        </div>
        <div class="production__image-wrap">
            <img src="./assets/images/content/111Group.webp" alt="" class="production__image" />
        </div>
    </div>
</section>
