<section class="products">
    <div class="products__container container">
        <div class="products__content">
            <span class="products__title h h_h1">Продукция</span>
            <span class="products__subtitle">От поля до дома</span>
        </div>
        <div class="products__carousel">
            <button type="button" class="products__nav-btn i-btn i-btn_arr-prev">
                <svg>
                    <use href="#arr-left-svg"></use>
                </svg>
            </button>
            <div class="products__swiper swiper">
                <ul class="products__swiper-wrapper swiper-wrapper">
                    <li class="products__slide slide-products swiper-slide">
                        <a href="#" class="slide-products__image-wrap"
                            ><img
                                src="./assets/images/products/5ba087f9f9aa8304c26590154be72027.webp"
                                alt=""
                                class="slide-products__image"
                        /></a>
                    </li>
                    <li class="products__slide slide-products swiper-slide">
                        <a href="#" class="slide-products__image-wrap"
                            ><img
                                src="./assets/images/products/476ae7747e443ebb73d092ea5483c271.webp"
                                alt=""
                                class="slide-products__image"
                        /></a>
                    </li>
                    <li class="products__slide slide-products swiper-slide">
                        <a href="#" class="slide-products__image-wrap"
                            ><img
                                src="./assets/images/products/97df9daa8ff4bbd0e1d06a217db9847d.webp"
                                alt=""
                                class="slide-products__image"
                        /></a>
                    </li>
                    <li class="products__slide slide-products swiper-slide">
                        <a href="#" class="slide-products__image-wrap"
                            ><img
                                src="./assets/images/products/5ba087f9f9aa8304c26590154be72027.webp"
                                alt=""
                                class="slide-products__image"
                        /></a>
                    </li>
                    <li class="products__slide slide-products swiper-slide">
                        <a href="#" class="slide-products__image-wrap"
                            ><img
                                src="./assets/images/products/476ae7747e443ebb73d092ea5483c271.webp"
                                alt=""
                                class="slide-products__image"
                        /></a>
                    </li>
                    <li class="products__slide slide-products swiper-slide">
                        <a href="#" class="slide-products__image-wrap"
                            ><img
                                src="./assets/images/products/97df9daa8ff4bbd0e1d06a217db9847d.webp"
                                alt=""
                                class="slide-products__image"
                        /></a>
                    </li>
                </ul>
            </div>
            <button type="button" class="products__nav-btn i-btn i-btn_arr-next">
                <svg>
                    <use href="#arr-right-svg"></use>
                </svg>
            </button>
            <div class="products__pagination swiper-bullets"></div>
        </div>
        <a href="#" class="products__btn btn btn_white">
            <span class="btn__txt">подробнее о продукции</span>
        </a>
    </div>
    <div class="products__bg-wrap">
        <img src="./assets/images/bg/7H1A2369.webp" alt="" class="products__bg" />
    </div>
</section>
