<section class="quote">
    <div class="quote__container container">
        <div class="quote__image-wrap">
            <img
                src="./assets/images/content/359a1acaf7f67b891853106c668cc45a.webp"
                alt=""
                class="quote__image"
            />
        </div>
        <div class="quote__content">
            <span class="quote__title h h_h4"
                >Есть внутренняя гордость за то, что на протяжении 28 лет бренд преданно работает для своего
                потребителя</span
            >
            <span class="quote__subtitle txt30 txt30_md">Имя фамилия/Должность</span>
        </div>
    </div>
</section>
