<section class="sales">
    <div class="sales__container container">
        <span class="sales__title h h_h1">Наш отдел продаж</span>
        <div class="sales__carousel">
            <div class="sales__swiper swiper">
                <ul class="sales__swiper-wrapper swiper-wrapper">
                    <li class="sales__slide sales-card swiper-slide">
                        <div class="sales-card__inner">
                            <div class="sales-card__image-wrap">
                                <img
                                    src="./assets/images/content/a56ee634899ace7fd3a660419562cb5b.webp"
                                    alt=""
                                    class="sales-card__image"
                                />
                            </div>
                            <div class="sales-card__content">
                                <span class="sales-card__title txt30 txt30_md">Имя Фамилия Отчество</span>
                                <span class="sales-card__subtitle">Директор</span>
                                <ul class="sales-card__list">
                                    <li class="sales-card__item list-i-item">
                                        <div class="list-i-item__icon">
                                            <svg>
                                                <use href="#phone-svg"></use>
                                            </svg>
                                        </div>
                                        <span class="list-i-item__text txt30 txt30_md"
                                            ><a href="tel:8655971248" class="list-i-item__inner"
                                                >(86559) 7–12–48</a
                                            ></span
                                        >
                                    </li>
                                    <li class="sales-card__item list-i-item">
                                        <div class="list-i-item__icon">
                                            <svg>
                                                <use href="#letter-svg"></use>
                                            </svg>
                                        </div>
                                        <span class="list-i-item__text txt30 txt30_md"
                                            ><a href="mailto:export013@yandex.ru" class="list-i-item__inner"
                                                >export013@yandex.ru</a
                                            ></span
                                        >
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li class="sales__slide sales-card swiper-slide">
                        <div class="sales-card__inner">
                            <div class="sales-card__image-wrap">
                                <img
                                    src="./assets/images/content/a56ee634899ace7fd3a660419562cb5b.webp"
                                    alt=""
                                    class="sales-card__image"
                                />
                            </div>
                            <div class="sales-card__content">
                                <span class="sales-card__title txt30 txt30_md">Имя Фамилия Отчество</span>
                                <span class="sales-card__subtitle">Директор</span>
                                <ul class="sales-card__list">
                                    <li class="sales-card__item list-i-item">
                                        <div class="list-i-item__icon">
                                            <svg>
                                                <use href="#phone-svg"></use>
                                            </svg>
                                        </div>
                                        <span class="list-i-item__text txt30 txt30_md"
                                            ><a href="tel:8655971248" class="list-i-item__inner"
                                                >(86559) 7–12–48</a
                                            ></span
                                        >
                                    </li>
                                    <li class="sales-card__item list-i-item">
                                        <div class="list-i-item__icon">
                                            <svg>
                                                <use href="#letter-svg"></use>
                                            </svg>
                                        </div>
                                        <span class="list-i-item__text txt30 txt30_md"
                                            ><a href="mailto:export013@yandex.ru" class="list-i-item__inner"
                                                >export013@yandex.ru</a
                                            ></span
                                        >
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li class="sales__slide sales-card swiper-slide">
                        <div class="sales-card__inner">
                            <div class="sales-card__image-wrap">
                                <img
                                    src="./assets/images/content/a56ee634899ace7fd3a660419562cb5b.webp"
                                    alt=""
                                    class="sales-card__image"
                                />
                            </div>
                            <div class="sales-card__content">
                                <span class="sales-card__title txt30 txt30_md">Имя Фамилия Отчество</span>
                                <span class="sales-card__subtitle">Директор</span>
                                <ul class="sales-card__list">
                                    <li class="sales-card__item list-i-item">
                                        <div class="list-i-item__icon">
                                            <svg>
                                                <use href="#phone-svg"></use>
                                            </svg>
                                        </div>
                                        <span class="list-i-item__text txt30 txt30_md"
                                            ><a href="tel:8655971248" class="list-i-item__inner"
                                                >(86559) 7–12–48</a
                                            ></span
                                        >
                                    </li>
                                    <li class="sales-card__item list-i-item">
                                        <div class="list-i-item__icon">
                                            <svg>
                                                <use href="#letter-svg"></use>
                                            </svg>
                                        </div>
                                        <span class="list-i-item__text txt30 txt30_md"
                                            ><a href="mailto:export013@yandex.ru" class="list-i-item__inner"
                                                >export013@yandex.ru</a
                                            ></span
                                        >
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>

            <div class="sales__pagination swiper-bullets"></div>
        </div>
    </div>
</section>
