<section class="standards">
    <div class="standards__container container">
        <span class="standards__title h h_h1">Стандарты качества</span>
        <p class="standards__text txt30 rxr30_md">
            Система менеджемента безопасности пищевой продукции ISO22000
        </p>
        <div class="standards__carousel">
            <button type="button" class="standards__nav-btn i-btn i-btn_arr-prev">
                <svg>
                    <use href="#arr-left-svg"></use>
                </svg>
            </button>
            <div class="standards__swiper swiper">
                <ul class="standards__swiper-wrapper swiper-wrapper">
                    <li class="standards__slide slide-standards swiper-slide">
                        <div class="slide-standards__image-wrap">
                            <img
                                src="./assets/images/content/Сертификат RU-FSSC-V5.webp"
                                alt=""
                                class="slide-standards__image"
                            />
                        </div>
                    </li>
                    <li class="standards__slide slide-standards swiper-slide">
                        <div class="slide-standards__image-wrap">
                            <img
                                src="./assets/images/content/Сертификат RU-FSSC-V5.webp"
                                alt=""
                                class="slide-standards__image"
                            />
                        </div>
                    </li>
                    <li class="standards__slide slide-standards swiper-slide">
                        <div class="slide-standards__image-wrap">
                            <img
                                src="./assets/images/content/Сертификат RU-FSSC-V5.webp"
                                alt=""
                                class="slide-standards__image"
                            />
                        </div>
                    </li>
                    <li class="standards__slide slide-standards swiper-slide">
                        <div class="slide-standards__image-wrap">
                            <img
                                src="./assets/images/content/Сертификат RU-FSSC-V5.webp"
                                alt=""
                                class="slide-standards__image"
                            />
                        </div>
                    </li>
                </ul>
            </div>
            <button type="button" class="standards__nav-btn i-btn i-btn_arr-next">
                <svg>
                    <use href="#arr-right-svg"></use>
                </svg>
            </button>
        </div>
    </div>
    <div class="standards__bg-wrap">
        <img src="./assets/images/bg/7da88fd3bde7325a78519df121834870.webp" alt="" class="standards__bg" />
    </div>
</section>
