<section class="suppliers">
    <div class="suppliers__container container">
        <div class="suppliers__content">
            <span class="suppliers__title h h_h2">Наши поставщики</span>
            <ul class="suppliers__list">
                <li class="suppliers__list-item list-item-nums txt30 txt20_md">ООО «КФХ Агат» п.Терек</li>
                <li class="suppliers__list-item list-item-nums txt30 txt20_md">
                    СПК «Владимировский» Левокумский р-он
                </li>
                <li class="suppliers__list-item list-item-nums txt30 txt20_md">АО «Агрокомплекс»(сахар)</li>
                <li class="suppliers__list-item list-item-nums txt30 txt20_md">
                    ООО «ТСП» (растительное масло)
                </li>
            </ul>
        </div>
        <div class="suppliers__image-wrap">
            <img
                src="./assets/images/content/d89147501020806c9cf070733b75517a.webp"
                alt=""
                class="suppliers__image"
            />
        </div>
    </div>
</section>
