<section class="why-us">
    <div class="why-us__container container">
        <span class="why-us__title h h_h1">Почему выбирают нашу компанию</span>
        <ul class="why-us__list">
            <li class="why-us__list-item list-item-def h h_h4">
                Стабильная работа с 2012 года как поставщика и экспортера
            </li>
            <li class="why-us__list-item list-item-def h h_h4">
                Прочные партнерские отношения с покупателями и поставщиками
            </li>
            <li class="why-us__list-item list-item-def h h_h4">
                Оперативные сроки поставки на любых условиях ИНКОТЕРМСа
            </li>
            <li class="why-us__list-item list-item-def h h_h4">Гибкие условия оплаты и поставок</li>
            <li class="why-us__list-item list-item-def h h_h4">
                Наличие опыта работы с предлагаемыми продуктами более 12 лет
            </li>
            <li class="why-us__list-item list-item-def h h_h4">
                Максимально выгодные предложения для наших Партнеров
            </li>
            <li class="why-us__list-item list-item-def h h_h4">
                Высококвалифицированный персонал с необходимым опытом, патентами и сертификатами для решения
                задач наших партнеров
            </li>
        </ul>
        <button type="button" class="why-us__btn btn btn_white">
            <span class="btn__txt">Оставить заявку</span>
        </button>
    </div>
</section>
