<footer class="footer">
    <div class="footer__container container">
        <a href="/" class="footer__logo-wrap">
            <img src="./assets/images/logo-dark.svg" alt="" class="footer__logo" />
        </a>
        <nav class="footer__nav">
            <a href="#" class="footer__nav-link txt30 txt30_md">О компании</a>
            <a href="#" class="footer__nav-link txt30 txt30_md">Бизнес</a>
            <a href="#" class="footer__nav-link txt30 txt30_md">Экспорт</a>
            <a href="#" class="footer__nav-link txt30 txt30_md">Пресс-центр</a>
            <a href="#" class="footer__nav-link txt30 txt30_md">Карьера</a>
            <a href="#" class="footer__nav-link txt30 txt30_md">Контакты</a>
        </nav>
    </div>
</footer>
