<header class="header">
    <div class="header__container container">
        <a href="/" class="header__logo-wrap">
            <img src="./assets/images/logo.svg" alt="" class="header__logo header__logo_light" />
            <img src="./assets/images/logo-dark.svg" alt="" class="header__logo header__logo_dark" />
        </a>
        <button type="button" class="header__btn btn btn_pink">
            <span class="btn__txt">связаться с нами</span>
        </button>
        <button type="button" class="header__hamburger-btn hamburger i-btn i-btn_bg">
            <span class="hamburger__inner">
                <span></span>
                <span></span>
                <span></span>
            </span>
        </button>
    </div>
    <div class="header__hamburger-menu hamburger-menu">
        <div class="hamburger-menu__container container">
            <nav class="hamburger-menu__nav">
                <a href="#" class="hamburger-menu__nav-link">О холдинге</a>
                <button type="button" class="hamburger-menu__nav-link activities-btn">
                    Направления деятельности
                </button>
                <a href="#" class="hamburger-menu__nav-link">Продукция</a>
                <a href="#" class="hamburger-menu__nav-link">Пресс-центр</a>
                <a href="#" class="hamburger-menu__nav-link">Экспорт</a>
                <a href="#" class="hamburger-menu__nav-link">Контакты</a>
            </nav>
        </div>
    </div>
</header>
