<!-- оставить заявку -->
<div id="requestModal" aria-hidden="true" class="modal">
    <div class="modal__wrapper">
        <div class="modal__content">
            <div class="modal__body">
                <button data-close type="button" class="modal__close">
                    <svg>
                        <use href="#cross-black-svg"></use>
                    </svg>
                </button>
                <div class="modal__inner">
                    <div class="modal__head">
                        <span class="modal__title h h_h2">Оставьте заявку</span>
                        <span class="modal__subtitle txt30 txt30_md">Ответим на все ваши вопросы!</span>
                    </div>
                    <form action="#" data-dev class="modal__form form-modal">
                        <div class="form-modal__fields">
                            <div
                                data-hint="Поле заполнено неверно"
                                class="form-modal__input input input_white"
                            >
                                <input
                                    data-validate
                                    data-required
                                    autocomplete="off"
                                    type="text"
                                    name="form[]"
                                    placeholder="Имя"
                                    class="input__field"
                                />
                            </div>
                            <div
                                data-hint="Поле заполнено неверно"
                                class="form-modal__input input input_white input_textarea"
                            >
                                <textarea
                                    name="form[]"
                                    placeholder="Комментарий"
                                    class="input__field"
                                ></textarea>
                            </div>
                            <div
                                data-hint="Поле заполнено неверно"
                                class="form-modal__input input input_white"
                            >
                                <input
                                    data-tel-mask
                                    data-validate
                                    data-required
                                    autocomplete="off"
                                    type="tel"
                                    name="form[]"
                                    placeholder="Телефон"
                                    class="input__field"
                                />
                            </div>
                        </div>
                        <div class="form-modal__footer">
                            <p class="form-modal__text">
                                Нажимая на кнопку, вы соглашаетесь на обработку персональных данных и политику
                                конфиденциальности
                            </p>
                            <button type="submit" class="form-modal__btn btn btn_gold">
                                <span class="btn__txt">Отправить заявку</span>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- заявка отправлена -->
<div id="requestSentModal" aria-hidden="true" class="modal modal_text-info">
    <div class="modal__wrapper">
        <div class="modal__content">
            <div class="modal__body">
                <button data-close type="button" class="modal__close">
                    <svg>
                        <use href="#cross-black-svg"></use>
                    </svg>
                </button>
                <div class="modal__inner">
                    <div class="modal__text-info text-info-modal">
                        <span class="text-info-modal__title h h_h2">Спасибо, что оставили заявку</span>
                        <p class="text-info-modal__text txt30 txt30_md">
                            Наш менеджер свяжется с вами в ближайшее время.
                        </p>
                        <a href="#" class="text-info-modal__btn btn btn_gold">
                            <span class="btn__txt">На главную</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- схема -->
<div id="schemeModal" aria-hidden="true" class="modal modal_scheme">
    <div class="modal__wrapper">
        <div class="modal__content">
            <div class="modal__body">
                <button data-close type="button" class="modal__close">
                    <svg>
                        <use href="#cross-black-svg"></use>
                    </svg>
                </button>
                <div class="modal__inner">
                    <div class="modal__scheme-wrap">
                        <img src="./assets/images/content/Схема1.webp" alt="" class="modal__scheme" />
                    </div>
                    <button data-modal='#videoModal' data-scheme-btn="1" type="button" class="modal__play-btn">
                        <img src="./assets/images/icons/play.svg" alt="" />
                    </button>
                    <button data-modal='#videoModal' data-scheme-btn="2" type="button" class="modal__play-btn">
                        <img src="./assets/images/icons/play.svg" alt="" />
                    </button>
                    <button data-modal='#videoModal' data-scheme-btn="3" type="button" class="modal__play-btn">
                        <img src="./assets/images/icons/play.svg" alt="" />
                    </button>
                    <button data-modal='#videoModal' data-scheme-btn="4" type="button" class="modal__play-btn">
                        <img src="./assets/images/icons/play.svg" alt="" />
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- видео -->
<div id="videoModal" aria-hidden="true" class="modal modal_video">
    <div class="modal__wrapper">
        <div class="modal__content">
            <div class="modal__body">
                <button data-close type="button" class="modal__close">
                    <svg>
                        <use href="#cross-black-svg"></use>
                    </svg>
                </button>
                <div class="modal__inner">
                     <div class="modal__video-wrap">
                        <video
                        data-videojs
                        class=modal__video"
                        >
                            <source src="./assets/video/sample-video.mp4" type="video/mp4" />
                        </video>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- документ -->
<div id="docModal" aria-hidden="true" class="modal modal_doc">
    <div class="modal__wrapper">
        <div class="modal__content">
            <div class="modal__body">
                <button data-close type="button" class="modal__close">
                    <svg>
                        <use href="#cross-black-svg"></use>
                    </svg>
                </button>
                <div class="modal__inner">
                    <div class="modal__doc doc-modal">
                        <div class="doc-modal__carousel">
                            <button type="button" class="doc-modal__nav-btn i-btn i-btn_arr-prev">
                                <svg>
                                    <use href="#arr-left-svg"></use>
                                </svg>
                            </button>
                            <div class="doc-modal__swiper swiper">
                                <ul class="doc-modal__swiper-wrapper swiper-wrapper">
                                    <li class="doc-modal__slide swiper-slide">
                                        <div class="doc-modal__image-wrap">
                                            <img
                                                class="doc-modal__image"
                                                src="./assets/images/doc.webp"
                                                alt=""
                                            />
                                        </div>
                                    </li>
                                    <li class="doc-modal__slide swiper-slide">
                                        <div class="doc-modal__image-wrap">
                                            <img
                                                class="doc-modal__image"
                                                src="./assets/images/doc.webp"
                                                alt=""
                                            />
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <button type="button" class="doc-modal__nav-btn i-btn i-btn_arr-next">
                                <svg>
                                    <use href="#arr-right-svg"></use>
                                </svg>
                            </button>
                            <div class="doc-modal__pagination swiper-bullets"></div>
                        </div>
                        <div class="doc-modal__thumb-swiper swiper">
                            <ul class="doc-modal__thumb-swiper-wrapper swiper-wrapper">
                                <li class="doc-modal__thumb-slide swiper-slide">
                                    <div class="doc-modal__image-wrap">
                                        <img class="doc-modal__image" src="./assets/images/doc.webp" alt="" />
                                    </div>
                                </li>
                                <li class="doc-modal__thumb-slide swiper-slide">
                                    <div class="doc-modal__image-wrap">
                                        <img class="doc-modal__image" src="./assets/images/doc.webp" alt="" />
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<button type="button" class="scroll-btn">
    <svg class="scroll-btn__icon"><use href="#arr-top-svg"></use></svg>
</button>
