@font-face {
  font-family: "Euclid Circular A";
  src: url("../assets/fonts/EuclidCircularA-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Euclid Circular A";
  src: url("../assets/fonts/EuclidCircularA-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Euclid Circular A";
  src: url("../assets/fonts/EuclidCircularA-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Euclid Circular A";
  src: url("../assets/fonts/EuclidCircularA-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
