// ---- variables

// colors
$white: #ffffff;
$pink: #e7158b;
$gold: #dbbe72;
$black: #3c4243;
$red: red;

// ----- fonts

// imported fonts
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Roboto:wght@400;500;700&display=swap');

// local fonts
@import './fonts';

// ----- base styles

// base scss file
@import './set';

// html, body
html.lock {
    overflow: hidden;
    touch-action: none;
}
html,
body {
    overflow-x: clip;
}
body {
    &::before {
        content: '';

        position: fixed;
        z-index: 20;
        top: 0;
        left: 0;

        width: 100%;
        height: 100%;

        background-color: rgba(37, 37, 37, 0.3);
        backdrop-filter: blur(3.2rem);

        opacity: 0;
        visibility: hidden;

        transition:
            opacity 0.4s ease,
            visibility 0.4s ease;

        @media (max-width: 48em) {
            ._show-lang-dropdown & {
                opacity: 1;
                visibility: visible;
            }
        }
    }
}
body.bg {
    &_gold {
        background-color: #efddaf;
    }
}

// main
main {
    position: relative;

    flex: 1 1 auto;
}

// wrapper
.wrapper {
    margin: 0 auto;

    display: flex;
    flex-direction: column;

    max-width: 1920px;
    height: 100%;

    user-select: none;
}

._desktop-only {
    @media (max-width: 48em) {
        display: none;
    }
}

._mobile-only {
    @media (min-width: 48em) {
        display: none;
    }
}

// swiper fade fix
.swiper-fade {
    .swiper-slide {
        opacity: 0 !important;
        visibility: hidden !important;
        transition:
            opacity 0.8s ease,
            visibility 0.8s ease;
        &.swiper-slide-active {
            opacity: 1 !important;
            visibility: visible !important;
        }
    }
}

.no-margin {
    &_md {
        margin: 0;
    }

    @media (min-width: 48em) {
        margin: 0;
    }
}

.color {
    &_pink {
        color: $pink;
    }
    &_white {
        color: $white;
    }
}

// ----- imports

// header / footer
@import './sections/header';
@import './sections/footer';

// ui
@import '../ui/ui';

@import './dev/vzmsk1';
@import './dev/markusDM';
